{% load i18n %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>{% trans "Imagescapes" %}</title>
  <link href="/site_media/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrap">
  <div id="header">{% include "include/header.html" %}</div>
  <div id="menu">{% include "include/menu.html" %}</div>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">{% include "include/footer.html" %}</div>
</wrap>
</body>
</html>
