 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>GeoMaster</title>
<style type="text/css">
#wrap {
	width: 800px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
a {
	color:#105CB6;
}
</style>
</head>
<body>
<div id="wrap">
<h1>Experiment med GeoMaster:</h1>

<h3>Ett litet f&ouml;rsta steg...</h3>

<hr>
<h3>Enkla auktoritetslistor utan vidare funktionalitet</h3>
<ul>
  <li><a href="/rdf/lan/">Sveriges l&auml;n</a></li>
  <li><a href="/rdf/kommuner/">Sveriges kommuner</a></li>
</ul>
<hr>
<p>
  <small><a href="email:mika.nyman@inbox.com">mika.nyman@inbox.com</a></small>
</p>
</div>
</body>
</html>
