{% extends layout %}

{% block main %}
<div id="kuvagalleriat">
  <script type="text/javascript">username='tall.small.photo'; photosize='800'; columns='4';</script>
  <script type="text/javascript" src="http://www.tallsmall.fi:8080/site_media/js/pwa-no-picasa-links_fi.js"></script>
</div>
{% endblock %}

{% block sidebar_right %}
<div class="rbox1_180">
  <div class="top"></div>
  <div class="body">
    <span>
      Kuvia PIKRYn tapahtumista. Jos koet jonkin kuvan yksitysyytt&auml;si loukkaavana, 
	  ilmoita asiasta s&auml;hk&ouml;postitse<br />toimisto(at)tallsmall.fi.
    </span>
  </div> 	
</div>
{% endblock %}
