<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Pieni- ja Isokenk&auml;iset ry</title>
<link href="http://b71.myrootshell.com/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body id="{{ cur_pg }}">
<div id="container">
  <div id="logo">
    &nbsp;
  </div>
  <div id="topnavi">
    &nbsp;
  </div>
  <div id="col_1">
    &nbsp;
  </div>
  <div id="col_2">
    K&auml;ytt&auml;j&auml;profiilin yll&auml;pito: <a target="_new" href="https://pip.verisignlabs.com/home_page.do">VeriSign Labs</a>
    {% block open_id_login %}{% endblock %}
    {% block keski %}{% endblock %}
  </div>
  <div id="cright">&nbsp;</div>
</div>

</body>
</html>

