{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if validlink %}
  <fieldset>
  <legend>{% trans "Password reset" %}</legend>
    <form method="post" action=".">
    <table id="pw_reset">
      {{ form.as_table }}
	</table>
    <input type="submit" value="{% trans 'Submit' %}" />
    </form>
  </fieldset>
{% else %}
  <fieldset>
  <legend>{% trans "Message" %}</legend>
  <div id="message">
    {% trans "Password reset failed" %}
  </div>
  </fieldset>
{% endif %}
{% endblock %}