<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="SV" lang="SV">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Museum24 - KMM </title>
<link href="http://alma.ablm.se/kmm_media/css/museum24.css" rel="stylesheet" type="text/css" media="all" />
<link href="http://alma.ablm.se/kmm_media/css/global.css" rel="stylesheet" type="text/css" media="all" />
<link href="/site_media/greybox/gb_styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">var GB_ROOT_DIR = "/site_media/greybox/";</script>
<script type="text/javascript" src="/site_media/greybox/AJS.js"></script>
<script type="text/javascript" src="/site_media/greybox/AJS_fx.js"></script>
<script type="text/javascript" src="/site_media/greybox/gb_scripts.js"></script>
</head>
<body class="nihilo">
<div id="screenContent">
<!--KOMMENTAR: VERIFIERA DESSA-->
<div id="skiplinks">
<a tabindex="1" href="#skipMenu"  name="Sidans_huvudinneh&aring;ll" title="Direkt till sidans huvudinneh&aring;ll [snabbkommando alt s]" accesskey="s"><img src="/img/bg/blank.gif" width="1" height="1" alt="" /></a>
<a tabindex="2" href="http://www.kmmuseum.se/om-kmm" name="Om_webbplatsen" title="Tillg&auml;nglighetsinformation och anpassning [snabbkommando alt 0]" accesskey="0"><img src="/img/bg/blank.gif" width="1" height="1" alt="" /></a>
<a tabindex="3" href="http://www.kmmuseum.se/" name="Startsidan" title="Till startsidan [snabbkommando alt 1]" accesskey="1"><img src="/img/bg/blank.gif" width="1" height="1" alt="" /></a>
<a tabindex="4" href="http://www.kmmuseum.se/" name="Webbkartan" title="Till webbkartan [snabbkommando alt 3]" accesskey="3"><img src="/img/bg/blank.gif" width="1" height="1" alt="" /></a>
<a tabindex="5" href="http://www.kmmuseum.se/" name="Soksidan" title="Soksidan [snabbkommando alt 4]" accesskey="4"><img src="/img/bg/blank.gif" width="1" height="1" alt="" /></a>
<a tabindex="6" href="http://www.kmmuseum.se/" name="FAQ" title="Till fr&aring;gor och svar [snabbkommando alt 5]" accesskey="5"><img src="/img/bg/blank.gif" width="1" height="1" alt="" /></a>
<a tabindex="7" href="http://www.kmmuseum.se/kontakt" name="Kontakta_oss" title="Kontakta oss [snabbkommando alt 7]" accesskey="7"><img src="/img/bg/blank.gif" width="1" height="1" alt="" /></a>
</div>
<div id="background_page">
<div class="page_content">
<div class="top">
<div class="logo">
<div class="logoScreen">
<br />
<img src="http://alma.ablm.se/kmm_media/img/profile_Museum24/logo_screen.gif" alt="logo"  />
</div>
<div class="logoPrint"></div>
</div>
<!--<div class="logo">-->
<div class="topMenu">
<div class="topMenuInner">
<div class="topMenu_links">
<ul>
<li><a href="http://samsok.kmmuseum.se/">Sams&ouml;k</a></li>
</ul>
</div>
<!--</div class="topMenu_links">-->
<br class="clearBoth" />
</div><!--<div class="topMenuInner">-->
</div><!--<div class="topMenu">-->
</div><!--<div class="top">-->
<div class="clearBoth"></div>
<div class="menu">
<div class="menu_items">
<div><a href="http://www.museum24.se/">Hem</a></div>
<!-- <div><a href="/">Start</div></a> -->
<div ><a href="http://www.museum24.se/om-kmm">Om KMM</a></div>
<div ><a href="http://www.museum24.se/forsk">Forskning</a></div>
<div ><a href="http://www.museum24.se/skolan">KMM i skolan</a></div>
<div ><a href="http://www.museum24.se/regionala-webbplatser">Portaler</a></div>
<div class="selected">Mastrar</div>
<div ><a href="http://www.museum24.se/samarbeten">Samarbeten</a></div>
<div ><a href="http://www.museum24.se/kontakt">Parter/Kontakt</a></div>
<div ><a href="http://www.museum24.se/kmm-en">KMM (EN)</a></div>
<div class="clearBoth"></div>
</div>
<div class="clearBoth"></div>
</div>
<!--<div class="menu">-->
<div class="clearBoth"></div>
<div class="sub_content">
<div class="sub_content_inner">

<!--KOMMENTAR HAR BORJAR MENYN I RUBRIKNIVA2-->
<div class="left_col">
<div class="inner">
<div class="left_menu">
<ul>
  <li class="selected">
    <div><a href="/mastrar/mastrar">GeoMaster</a></div>
    <ul>
    <li><div><a href="/kmm/geomaster/lan/">Sveriges l&auml;n</a></div></li>
    <li><div><a href="/kmm/geomaster/kommuner/?init=all&q=Alla">Sveriges kommuner</a></div></li>
    <li><div><a href="/kmm/geomaster/landskap/">Sveriges landskap</a></div></li>
    <li><div><a href="/kmm/geomaster/socknar/?init=all&q=Alla">Sveriges socknar</a></div></li>
<!--
    <li><div><a href="/mastrar/nm-klass">NM-klass</a></div></li>
    <li><div><a href="/mastrar/cidoc-crm-core">CIDOC CRM core</a></div></li>
-->
    </ul>
  </li>
</ul>
</div>
</div><!--<div class="inner">-->
</div><!--<div class="left_col">-->

<!--KOMMENTAR: HAR BORJAR artikelsidan-->
<div class="right_col">
<a name="skipMenu"></a>
<div class="article">
<h1>GeoMaster</h1>
{% block content %}{% endblock %}
<br /><br />
</div><!--<div class="article">-->
</div><!--<div class="right_col">-->
<div class="clearBoth"></div>
<div class="footer"></div>
</div><!--</div class="inner">-->
<div class="clearBoth"></div>
</div><!--<div class="start_content">-->
<br class="clearBoth" />
<p class="clearBoth"></p>
</div><!--</div class="page_content">-->
</div><!--</div id="backround_page">-->
</div><!--</div id="screenContent">-->
</body>
</html>
