{% extends "geomaster/base.html" %}

{% block content %}
<div style="float: right">
  <form method=post action=".">
  <input type="text" name="qstring"> <input type="submit" value="S&ouml;k">
  </form>
</div>

<div style="padding-bottom: 16px">
<h3>Sveriges socknar:</h3>
<a href="/kmm/geomaster/socknar/?init=all&q=Alla">Alla</a>&nbsp;&nbsp;| 
<a href="/kmm/geomaster/socknar/?init=A&q=A">A</a> | 
<a href="/kmm/geomaster/socknar/?init=B&q=B">B</a> | 
<a href="/kmm/geomaster/socknar/?init=D&q=D">D</a> | 
<a href="/kmm/geomaster/socknar/?init=E&q=E">E</a> | 
<a href="/kmm/geomaster/socknar/?init=F&q=F">F</a> | 
<a href="/kmm/geomaster/socknar/?init=G&q=G">G</a> | 
<a href="/kmm/geomaster/socknar/?init=H&q=H">H</a> | 
<a href="/kmm/geomaster/socknar/?init=I&q=I">I</a> | 
<a href="/kmm/geomaster/socknar/?init=J&q=J">J</a> | 
<a href="/kmm/geomaster/socknar/?init=K&q=K">K</a> | 
<a href="/kmm/geomaster/socknar/?init=L&q=L">L</a> | 
<a href="/kmm/geomaster/socknar/?init=M&q=M">M</a> | 
<a href="/kmm/geomaster/socknar/?init=N&q=N">N</a> | 
<a href="/kmm/geomaster/socknar/?init=O&q=O">O</a> | 
<a href="/kmm/geomaster/socknar/?init=P&q=P">P</a> | 
<a href="/kmm/geomaster/socknar/?init=R&q=R">R</a> | 
<a href="/kmm/geomaster/socknar/?init=S&q=S">S</a> | 
<a href="/kmm/geomaster/socknar/?init=T&q=T">T</a> | 
<a href="/kmm/geomaster/socknar/?init=U&q=U">U</a> | 
<a href="/kmm/geomaster/socknar/?init=V&q=V">V</a> | 
<a href="/kmm/geomaster/socknar/?init=%c3%85&q=%c3%85">&Aring;</a> | 
<a href="/kmm/geomaster/socknar/?init=%c3%84&q=%c3%84">&Auml;</a> | 
<a href="/kmm/geomaster/socknar/?init=%c3%96&q=%c3%96">&Ouml;</a>
</div>

<div style="float: right; margin-bottom: 20px">
  <strong>V&auml;lj landskap:</strong><br />
  {% for province in province_list %}
  <a href="/kmm/geomaster/socknar/?province={{ province.1 }}&q={{ province.0 }}">{{ province.0 }}</a> <span style="color:#EDA031">({{ province.1 }})</span><br />
  {% endfor %}
</div>

<div style="width:400px; padding: 4px 0px; margin-bottom: 10px;">
  <strong>S&ouml;kstr&auml;ng:</strong> '{{ q }}'&nbsp;&nbsp;&nbsp;&nbsp;<strong>Tr&auml;ffar:</strong> {{ hits }}
</div>

<div>
  {% for element in graph_as_list %}
  {{ element.0 }}, {{ element.1 }}<br />
  {% endfor %}
</div>


<!-- beg -->
<br />
<h3>Exempel p&aring; formul&auml;rkontroll:</h3>
{% comment %}
<form>
<select>
  <option selected="yes">V&auml;lj socken</option>
  <option>------------------------------</option>
  {% for element in graph_as_list %}
  <option>{{ element.0 }}, {{ element.1 }}</option>
  {% endfor %}
</select>	
</form>
{% endcomment %}
<!-- end -->


<!-- Dijit -->
<style type="text/css">
  @import "/dojo/1.3.1/dijit/themes/nihilo/nihilo.css";
</style>

<script type="text/javascript" src="/dojo/1.3.1/dojo/dojo.js" djConfig="parseOnLoad:true, isDebug: true"></script>
<script type="text/javascript">
    dojo.require("dijit.form.FilteringSelect");
</script>
<p>
<form>
<select dojoType="dijit.form.FilteringSelect" id="socknar" name="socknar">
  <option value="" selected="yes">V&auml;lj socken</option>
  <option value="">------------------------------</option>
  {% for element in graph_as_list %}
  <option value="{{ element.0 }}, {{ element.1 }}">{{ element.0 }}, {{ element.1 }}</option>
  {% endfor %}
</select>
</form>
</p>
<!-- /Dijit -->





<!-- beg -->
<br />
<h3>Kommentar:</h3>
<div style="width: 480px">
  Data l&auml;ses in i RDF-format fr&aring;n <a href="http://kulturarvsdata.se/resurser/aukt/geo/parish/parish.rdf">http://kulturarvsdata.se/resurser/aukt/geo/parish/parish.rdf</a> d&aring; sidan laddas. 
  Data &auml;r allts&aring; inte lagrat lokalt utan h&auml;mtas fr&aring;n en auktoritetslista p&aring; webben. 
  Det inh&auml;mtade datat parsas med modulen <a href="http://www.rdflib.net/">RDFLib</a>. D&auml;refter g&ouml;rs 
  en s&ouml;kning g&ouml;rs med hj&auml;lp av <a href="http://www.w3.org/TR/rdf-sparql-query/">SPARQL</a>-spr&aring;ket. 
  Allt detta sker inom ramen f&ouml;r <a href="http://www.djangoproject.com">Django</a> som ocks&aring; visar s&ouml;kresultatet. 
  Kontakt: <a href="email:mika.nyman@inbox.com">mika.nyman@inbox.com</a>
</div>
<!-- end -->


{% endblock %}
