<style type="text/css">
p {
	margin-top: 25px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	line-height: 13pt;
	}
div.wrap {
	width:auto;
	height: 24px;
	margin-top:30px;
	margin-bottom:30px;
	padding: 0
        }
div.left {
	float: left;
	}
div.center {
	float: left;
	margin-left: 130px;
	}
div.right {
	float: right;
	}
a.arrow {
	text-decoration:none;
	font-size: 12pt;
	color: #e5a83e
	}
</style>
<p>
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/mittaus/etusivu4.jpg">
</p>

<div class="wrap">
  <div class="left"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/sisallysluettelo.html">&larr; Edellinen sivu</a></div>
  <div class="center"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/sisallysluettelo.html">Sis&auml;llysluettelo</a></div>
  <div class="right"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/2.html">Seuraava sivu &rarr;</a></div>
</div>

<h2>1 JOHDANTO</h2>
<p>
Ymp&auml;rist&ouml;tekij&ouml;ill&auml; on suuri merkitys ihmisen pituuskasvuun. Hyv&auml;n ravitsemuksen ja
parantuneiden elinolosuhteiden on todettu vaikuttavan ratkaisevasti keskipituuden kasvuun.
Perinn&ouml;lliset tekij&auml;t kuitenkin asettavat yl&auml;rajan yksil&ouml;n pituuskasvulle, jonka h&auml;n
voi suotuisissa ymp&auml;rist&ouml;oloissa saavuttaa. (Sammalisto 2008: 20- 21.) Suomalaiset
ovat siis pidempi&auml; kuin ennen, mutta kuinka paljon suurempia suomalaiset ovat muilta
mitoiltaan?
</p>
<p>
Vaatteiden ja jalkineiden koon m&auml;&auml;ritt&auml;minen pohjautuu ihmisen mittojen ja mittasuhteiden
tutkimukselle eli antropometrisiin mittauksiin. Jotta teollisuus voisi tuottaa mahdollisimman
hyvin v&auml;est&ouml;lle sopivia vaatteita ja jalkineita, on ker&auml;ttyjen mittatietojen
oltava laajoja ja hyvin kohderyhm&auml;&auml;ns&auml; kuvaavia.
</p>
<p>
Oikean kokoiset ja tarkoituksenmukaiset jalkineet ovat koko kehon hyvinvoinnin perusta.
V&auml;&auml;r&auml;n kokoinen jalkine muuttaa jalkaterien lihas- ja niveltoimintoja. Niiden heikentyess&auml;
kehittyy muutoksia my&ouml;s luisiin tukirakenteisiin. Yhdenkin jalkater&auml;n nivelen
toimintah&auml;iri&ouml; heijastuu koko alaraajaan ja sit&auml; kautta koko kehon toimintoihin. (Rossi
2001: 136.) Oikean kokoinen jalkine tukee ihmisen jalkaterveytt&auml; ja ennaltaehk&auml;isee
jalkaterien asentomuutoksia. Jalkaterapian n&auml;k&ouml;kulmasta, jalkineen ja sukan oikean
koon m&auml;&auml;ritt&auml;minen on t&auml;rke&auml; osa ennaltaehk&auml;isev&auml;&auml; ty&ouml;t&auml;. Terveytt&auml; edist&auml;v&auml;&auml;n jalkaterapiaan
kuuluu asiakkaan opetus ja ohjaus, sen tarkoituksena on antaa tietoa esimerkiksi
oikean kokoisen jalkineen merkityksest&auml; ihmisen toimintakyvyn kannalta.
</p>
<p>
Ihmisen jalkater&auml;n koko ja malli vaihtelevat suuresti geneettisen alkuper&auml;, i&auml;n ja sukupuolen
mukaan. Suomalaisten jalkaterien mittoja ei ole tutkittu kattavasti. Kenk&auml;kaupoilla
on jonkin verran tietoa siit&auml;, ett&auml; ihmiset tarvitsevat t&auml;n&auml; p&auml;iv&auml;n&auml; entist&auml; suurempia
kenki&auml;, mutta mitattua tietoa ei ole ker&auml;tty. Kenk&auml;teollisuuden muuttuessa yh&auml; kansainv&auml;lisemm&auml;ksi,
olisi t&auml;rke&auml;&auml; ker&auml;t&auml; ajankohtaista tietoa suomalaisten jalkaterien mittasuhteista.
Kenkien suunnittelijoiden ja valmistajien olisi t&auml;rke&auml;&auml; ymm&auml;rt&auml;&auml; sek&auml; tiet&auml;&auml;,
mink&auml; kokoisia ja muotoisia ihmisten jalkater&auml;t ovat, jotta keng&auml;n sis&auml;osa ja sit&auml; k&auml;ytt&auml;v&auml;n
ihmisen jalkater&auml; olisivat saman laajuisia. (Mauch ym 2008: 527).
</p>
<p>
Opinn&auml;ytety&ouml;n idea syntyi Pieni- ja Isokenk&auml;iset ry:n pyynn&ouml;st&auml; kehitt&auml;&auml; ty&ouml;v&auml;line, jonka
avulla voitaisiin ker&auml;t&auml; tietoa suomalaisten alaraajojen mitoista. Tarkoituksena on
ker&auml;t&auml; mitattua tietoa, helpottamaan esimerkiksi oikean kokoisten jalkineiden l&ouml;yt&auml;mist&auml;,
sek&auml; tuottaa luotettavia mittatietoja tulevaisuudessa kenk&auml;- ja vaateteollisuuden k&auml;ytt&ouml;&ouml;n.
(Pieni- ja Isokenk&auml;iset ry 2008.)
</p>
<p>
Opinn&auml;ytety&ouml;n tarkoituksena on kehitt&auml;&auml; alaraajojen mittojen omatoimista mittaamista
varten ty&ouml;v&auml;line, jonka avulla voidaan tuottaa luotettavaa tietoa ihmisen alaraajojen
mitoista, esimerkiksi sukkien ja kenkien mitoitusta varten. T&auml;ss&auml; opinn&auml;ytety&ouml;ss&auml; ty&ouml;v&auml;lineell&auml;
tarkoitetaan niit&auml; lomakkeita, joita on aineiston keruun ensimm&auml;isess&auml; ja toisessa
vaiheessa k&auml;ytetty. Kehitett&auml;v&auml;n ty&ouml;v&auml;lineen tulee olla sellainen, ett&auml; kuka tahansa
pystyy sen ohjaamana mittaamaan alaraajansa mitat luotettavasti.
</p>