<style type="text/css">
p {
	margin-top: 25px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	line-height: 13pt;
	}
div.wrap {
	width:auto;
	height: 24px;
	margin-top:30px;
	margin-bottom:30px;
	padding: 0
        }
div.left {
	float: left;
	}
div.center {
	float: left;
	margin-left: 130px;
	}
div.right {
	float: right;
	}
a.arrow {
	text-decoration:none;
	font-size: 12pt;
	color: #e5a83e
	}
</style>
<p>
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/mittaus/etusivu4.jpg">
</p>

<div class="wrap">
  <div class="left"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/2.html">&larr; Edellinen sivu</a></div>
  <div class="center"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/sisallysluettelo.html">Sis&auml;llysluettelo</a></div>
  <div class="right"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/3_2.html">Seuraava sivu &rarr;</a></div>
</div>

<h2>3.1 Ihmisen mittojen ker&auml;&auml;misen tausta</h2>
<p>
Antropometria tarkoittaa kokeellista tiedett&auml;, jonka tavoitteena on m&auml;&auml;ritt&auml;&auml; ihmisen
kokoon ja muotoon liittyvi&auml; fyysisi&auml; ominaisuuksia. Antropometrisiss&auml; mittauksissa
ker&auml;ttyj&auml; mittatietoja voidaan k&auml;ytt&auml;&auml; erilaisten tuotteiden, kuten kenkien ja vaatteiden
suunnittelussa. Mittatietoja k&auml;ytett&auml;ess&auml; on huomioitava, mist&auml; v&auml;est&ouml;st&auml; ja milloin tiedot
on ker&auml;tty. Mittatiedot sis&auml;lt&auml;v&auml;t mittaussuureiden nimet ja mittaustulokset, jakaumatietoineen.
Ihmisen laaja ominaisuusvaihtelu ilmenee antropometrisissa mittauksissa.
Mitattavan sukupuoli ja ik&auml; vaikuttavat suuresti saatuihin mittaustuloksiin. Ihmisen
mitat noudattava normaalijakaumaa eli useimpien ihmisten mitat ovat l&auml;hemp&auml;n&auml;
keskiarvoja kuin &auml;&auml;riarvoja. (V&auml;yrynen – Nevala - P&auml;ivinen 2004: 56.)
</p>
<p>
Antropometrisi&auml; mittoja voidaan k&auml;ytt&auml;&auml; niin, ett&auml; tuotteet suunnitellaan keskikokoisten,
&auml;&auml;rikokojen tai vaihteluv&auml;lin mukaan. Keskikokojen mukaan suunniteltaessa ongelmana
on se ett&auml;, ihminen ei kaikilta mitoiltaan vastaa keskiarvoja. Ihmiset ovat erikokoisia
ruumiinosien mittasuhteiltaan. Kenk&auml;- ja vaateteollisuus voi suunnitella tuotteensa &auml;&auml;rikokojen
mukaan. (V&auml;yrynen – Nevala - P&auml;ivinen 2004: 58- 60.)
</p>
<p>
Antropometristen mittaustulosten alueellisen vaihtelun merkitys tuotesuunnittelulle on
suuri. Jos tuote on esimerkiksi suunniteltu antropometrisesti sopivaksi 90 prosentille
Yhdysvaltojen v&auml;est&ouml;st&auml;, se on sopiva noin 90 prosentille saksalaisista, 80 prosentille
ranskalaisista, 65 prosentille italialaisista ja vain 10 prosentille vietnamilaisista. (V&auml;yrynen
– Nevala - P&auml;ivinen 2004: 56.) Kansallisia antropometrisi&auml; mittatietoja on helposti
hy&ouml;dynnett&auml;viss&auml; tietokonesovelluksina, esimerkiksi PeopleSize-antropometriatietokannassa
(www.openerg.com). Ohjelma sis&auml;lt&auml;&auml; antropometrisi&auml; mittaustuloksia
ik&auml;luokittain ja sukupuolen mukaan jaoteltuna. Suomalaisten tietoja ei ole ohjelmassa,
maantieteellisesti l&auml;himm&auml;t tiedot on ker&auml;tty ruotsalaisista.
</p>
<p>
Suomalaisten jalkaterien kasvua ei ole tutkittu, mutta sen on oletettu kasvaneen yhdess&auml;
suomalaisten keskipituuden kanssa. Vuosina 1978-1982 oli 25-34-vuotiaiden miesten
keskipituus 177 senttimetri&auml; ja vuonna 2008 se oli 181 senttimetri&auml;. Samoina vuosina
25-34-vuotiaiden naisten keskipituudet olivat 164 senttimet ri&auml; ja 166 senttimetri&auml;.( Helakorpi
- Paavola - Pr&auml;tt&auml;l&auml; - Uutela 2009: 129.) Ruotsissa alaraajan ja jalkater&auml;n mittoja
on ker&auml;tty osana antropometrisi&auml; tutkimuksia. Vuosina 1969 saatuja mittaustuloksia
verrattiin vuoden 2007 tuloksiin ja tutkijat totesivat ruotsalaisten olevan aikaisempaa
kookkaampia kaikkien mittojen osalta. Toisaalta he havaitsivat, ett&auml; ruotsalaisten pituuden
ja painon monimuotoisuus on lis&auml;&auml;ntynyt, erot lyhimm&auml;n ja pisimm&auml;n sek&auml; kevyimm&auml;n
ja painavimman v&auml;lill&auml; olivat kasvaneet. (Hansson ym. 2008: 797.)
</p>