<style type="text/css">
p {
	margin-top: 25px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	line-height: 13pt;
	}
div.wrap {
	width:auto;
	height: 24px;
	margin-top:30px;
	margin-bottom:30px;
	padding: 0
        }
div.left {
	float: left;
	}
div.center {
	float: left;
	margin-left: 130px;
	}
div.right {
	float: right;
	}
a.arrow {
	text-decoration:none;
	font-size: 12pt;
	color: #e5a83e
	}
</style>
<p>
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/mittaus/etusivu4.jpg">
</p>

<div class="wrap">
  <div class="left"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/3_3.html">&larr; Edellinen sivu</a></div>
  <div class="center"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/sisallysluettelo.html">Sis&auml;llysluettelo</a></div>
  <div class="right"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/3_5.html">Seuraava sivu &rarr;</a></div>
</div>

<h2>3.4 Itse mitattujen mittatietojen luotettavuus</h2>
<p>
Ihmisen mittatietojen ker&auml;&auml;minen on kallista ja hidasta, koska tutkijan on mitattava jokainen
tutkimukseen osallistuva koehenkil&ouml; erikseen. Itse ilmoitetut mittatiedot tarjoavat
edullisen ja tehokkaan tavan ker&auml;t&auml; mittatietoja suuristakin otoksista. Tehard ym.
tutkivat itse ilmoitettujen mittatulosten luotettavuutta. Tutkimuksessa 152 naista mittasi,
itse tai avustajan kanssa, painon, pituuden, istumapituuden, sek&auml; lantion, vy&ouml;t&auml;r&ouml;n ja
rinnan ymp&auml;ryksen. Mittaamiseen koulutettu ammattilainen suoritti samat mittaukset.
Saatuja mittatuloksia verrattiin kesken&auml;&auml;n. Tulokset osoittivat, ett&auml; itse ilmoitetut mittatulokset
olivat l&auml;hes yht&auml; tarkkoja kuin ammattilaisen mittaamat. (Tehard – van Liere –
Com Nougué – Clavel-Chapelon 2002: 1779.)
</p>
<p>
Itse ilmoitetut vy&ouml;t&auml;r&ouml;n ja lantion ymp&auml;ryksen mittatulokset ovat osoittautuneet melko
luotettaviksi my&ouml;s muissa tutkimuksissa. Luotettavuuteen vaikuttaa vahvasti mitattavan
mahdollinen ylipaino, sek&auml; tieto siit&auml;, tarkistaako ammattilainen mittaustuloksen j&auml;lkeenp&auml;in.
Ylipainoiset arvioivat painonsa usein alhaisemmaksi kuin mittatulokset osoittavat.
(Imrhan – Imrhan – Hart 1996: 1451.)
</p>
<p>
Erityisesti nuorten ihmisten arvioidessa omaa pituuttaan ja painoaan, tulee tuloksiin
suhtautua kriittisesti (Tokmakidis – Christodoulos – Mantzouranis 2006: 305). Tytt&ouml;jen
ja poikien itse ilmoittamien paino- ja pituusarvioiden luotettavuudessa ei ole havaittu
merkitt&auml;vi&auml; eroja (Straus 1999: 904). Alaraajan osalta, itse ilmoitettujen mittatietojen
luotettavuutta ei ole tutkittu.
</p>