<style type="text/css">
p {
	margin-top: 25px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	line-height: 13pt;
	}
div.wrap {
	width:auto;
	height: 24px;
	margin-top:30px;
	margin-bottom:30px;
	padding: 0
        }
div.left {
	float: left;
	}
div.center {
	float: left;
	margin-left: 130px;
	}
div.right {
	float: right;
	}
a.arrow {
	text-decoration:none;
	font-size: 12pt;
	color: #e5a83e
	}
</style>
<p>
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/mittaus/etusivu4.jpg">
</p>

<div class="wrap">
  <div class="left"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/4.html">&larr; Edellinen sivu</a></div>
  <div class="center"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/sisallysluettelo.html">Sis&auml;llysluettelo</a></div>
  <div class="right"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/5_2.html">Seuraava sivu &rarr;</a></div>
</div>

<h2>5.1 Tutkimusmenetelm&auml;t</h2>
<p>
Opinn&auml;ytety&ouml;ss&auml; k&auml;ytettiin sek&auml; kvalitatiivista eli laadullista ett&auml; m&auml;&auml;r&auml;llist&auml; eli kvantitatiivista
l&auml;hestymistapaa. Opinn&auml;ytety&ouml;n ensimm&auml;isess&auml; vaiheessa k&auml;ytettiin laadullista
l&auml;hestymistapaa, koska laadullisen tutkimuksen l&auml;ht&ouml;kohtana on ihminen ja h&auml;nen kokemuksensa
jostakin ilmi&ouml;st&auml;. T&auml;ss&auml; opinn&auml;ytety&ouml;ss&auml; mielenkiinnon kohteena ovat tutkimukseen
osallistuvien koehenkil&ouml;iden n&auml;kemykset mittausohjeiden selkeydest&auml; ja
yksiselitteisyydest&auml;. Tutkimusaineisto ker&auml;ttiin laadulliselle tutkimukselle tyypillisesti
mahdollisimman avoimin menetelmin, haastattelemalla ja havainnoimalla. (Kylm&auml;–
Juvakka 2007: 22- 31.)
</p>
<p>
Opinn&auml;ytety&ouml;n toisessa vaiheessa tutkimuksellinen l&auml;hestymistapa oli kvantitatiivinen.
T&auml;m&auml; l&auml;hestymistapa valittiin, koska opinn&auml;ytety&ouml;n mielenkiinnon kohteena oli kehitt&auml;&auml;
luotettava ty&ouml;v&auml;line alaraajojen omatoimista mittaamista varten. Ty&ouml;v&auml;line luotettavuuden
tutkiminen toteutettiin vertaamalla koehenkil&ouml;iden ja asiantuntijoiden mittaustulosten
v&auml;lisi&auml; eroja. Jos mittaustulosten v&auml;lill&auml; ei ole tilastollisesti merkitsevi&auml; eroja, voidaan
se tulkita viitteeksi ty&ouml;v&auml;lineen tuottamien mittaustulosten luotettavuudesta. M&auml;&auml;r&auml;llisen
l&auml;hestymistavan keinoja on hyv&auml; k&auml;ytt&auml;&auml; silloin, kun opinn&auml;ytety&ouml;n tueksi tarvitaan
tilastollisesti ilmoitettavaa numeraalista tietoa. Selvityksen kohteena oleva tieto on
mitattavissa. (Vilkka - Airaksinen 2007: 58- 59.)
</p>