<style type="text/css">
p {
        margin-top: 25px;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	line-height: 13pt;
        }

p.joo {
        margin-left: 50px;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	line-height: 13pt;
        }
div.wrap {
	width:auto;
	height: 24px;
	margin-top:30px;
	margin-bottom:30px;
	padding: 0
        }
div.left {
	float: left;
	}
div.center {
	float: left;
	margin-left: 130px;
	}
div.right {
	float: right;
	}
a.arrow {
	text-decoration:none;
	font-size: 12pt;
	color: #e5a83e
	}
</style>
<p>
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/mittaus/etusivu4.jpg">
</p>

<div class="wrap">
  <div class="left"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/5_4.html">&larr; Edellinen sivu</a></div>
  <div class="center"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/sisallysluettelo.html">Sis&auml;llysluettelo</a></div>
  <div class="right"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/6_1.html">Seuraava sivu &rarr;</a></div>
</div>

<h2>5.5 Aineiston analysointi</h2>
<p>
<b>Opinn&auml;ytety&ouml;n ensimm&auml;isess&auml; vaiheessa</b>, haastattelemalla ker&auml;tty aineisto analysoitiin
sis&auml;ll&ouml;nanalyysia k&auml;ytt&auml;en. Sis&auml;ll&ouml;nanalyysin tarkoituksena on aineiston informaatioarvon
lis&auml;&auml;minen eli hajanaisestakin aineistosta pyrit&auml;&auml;n luomaan mielek&auml;s, selke&auml; ja yhten&auml;inen
informaatiokokonaisuus. (Tuomi - Saraj&auml;rvi 2004: 93.)
</p>
<p>
Haastattelunauhoitteet litteroitiin, eli kirjoitettiin puhtaaksi. Aineistosta etsittiin vastausta
kysymyksiin: Oliko ohjeistus yksiselitteinen? Mik&auml; ohjeistuksessa tai mittauksessa
tuotti vaikeuksia? Vastaukset merkittiin tekstiin huomiokyn&auml;ll&auml; korostaen. N&auml;in ker&auml;ttiin
raakahavaintoja. Etsim&auml;ll&auml; havainnoista yhdist&auml;vi&auml; piirteit&auml;, ne ryhmiteltiin havaintojen
joukoiksi. Havaintojen pelkist&auml;minen auttaa l&ouml;yt&auml;m&auml;&auml;n haastattelu materiaalista,
tutkimuksen kannalta, olennaisen tiedon. Litteroidusta aineistosta ker&auml;tyt muutosehdotukset
yhdistettiin havainnoinnin avulla ker&auml;ttyihin tietoihin. (Vilkka 2006: 82.)
</p>
<p>
Esimerkiksi mittauskohta 4. Mittaa vy&ouml;t&auml;r&ouml;n kapeimmasta kohdasta, tuotti kaikille koehenkil&ouml;pareille
ongelmia:
</p>
<p class="joo">
<i>Joo, se oli vaikee. Olihan t&auml;&auml; nyt sit... Tost kuvast kertoo mulle mit&auml; siin sit lukee...
Koehenkil&ouml;t 1 ja 2</i>
</p>
<p class="joo">
<i>Meid&auml;n on aika helppo mitata, mut sit kun on sellanen ihminen josta s&auml; et l&ouml;yd&auml;
sit&auml; kapeinta kohtaa.. Niinkun on niin tasapaksuja tai ajattele miehi&auml;... Koehenkil&ouml;t
3 ja 4</i>
</p>
<p class="joo">
<i>Et se on niinku se mittauskohta, itelle tulee sellainen olo et se on niinku v&auml;h&auml;n
ep&auml;m&auml;&auml;r&auml;nen ja just se et voiko sen, et sen voi eri mittauskerroilla mitata eri
paikoista. Koehenkil&ouml;t 5 ja 6</i>
</p>
<p>
<b>Tutkimuksen toisen vaiheen</b> aineisto koottiin Exel-taulukkolaskentaohjelmaan, jonka
avulla saatiin ryhmien v&auml;lisist&auml; mittauseroista pylv&auml;sdiagrammi ja viivadiagrammeja.
Niiden tarkoituksena on helpottaa mittausten v&auml;listen erojen havainnollistamista.
</p>
<p>
Tutkimuksen toisen vaiheen aineisto analysoitiin PASW statistics 18 -tilastoohjelmalla.
Systemaattista mittausvirhett&auml; etsittiin Wilcoxonin merkkitestin avulla. Testill&auml;
selvitettiin, mittasivatko koehenkil&ouml;t omatoimisesti mitatessaan systemaattisesti,
joko pienempi&auml; tai suurempia mittoja kuin asiantuntija. Wilcoxonin merkkitesti&auml; pidet&auml;&auml;n
hyv&auml;n&auml; vaihtoehtona erityisesti tarkasteltaessa pieni&auml; aineistoja. Tulosten tulkinnassa
k&auml;ytet&auml;&auml;n ilmaisua tilastollisesti melkein merkitsev&auml; (p &#8804; 0,05), tilastollisesti merkitsev&auml;
(p &#8804; 0,01) tai tilastollisesti eritt&auml;in merkitsev&auml; (p &#8804; 0,001).
</p>
<p>
Omatoimisten mittausten ja asiantuntijoiden mittausten v&auml;liset mittauserot suhteutettiin
laskemalla niiden itseisarvo:
</p>
<p>
<center><i><u>(asiantuntijamittaus - omatoim. mittaus)</u><br>
asiantuntijamittaus</i></center>
</p>
<p>
Kertomalla saatu tulos sadalla saadaan mittausten suhteellinen ero prosentteina. Mittauserojen
suhteellistamisen takana oli ajatus, ett&auml; onko lantion ymp&auml;ryksen mittaustulosten
mittaaminen suhteellisesti hankalampaa ja ep&auml;tarkempaa kuin esimerkiksi nilkan
ymp&auml;ryksen. Kun mittauserot suhteutettiin yll&auml; olevalla kaavalla, tuli mittauserojen vertailu
mahdolliseksi. Suhteellisia eroja tarkasteltiin sek&auml; varianssien yht&auml;suuruustestin
avulla ett&auml; Kruskall-Wallisin testill&auml;.
</p>
<p>
Kruskall-Wallisin testin avulla eri mittauskohdat j&auml;rjestettiin suuruusj&auml;rjestykseen suhteellisten
poikkeamien avulla. Selvitettiin siis miss&auml; mittauskohdassa varianssia oli eniten,
miss&auml; v&auml;hiten? Kruskall-Wallisin testi sopii toisistaan riippumattomien havaintojen
suuruusj&auml;rjest&auml;miseen pieni&auml; aineistoja analysoitaessa.
</p>
<p>
Mik&auml;li koehenkil&ouml;iden ja ns. asiantuntijan tekemien mittausten mitat eiv&auml;t eroa toisistaan
merkitt&auml;v&auml;sti, voidaan omatoimista mittaamista pit&auml;&auml; luotettavana ja kehitetty&auml;
ty&ouml;v&auml;linett&auml; k&auml;ytt&ouml;kelpoisena.
</p>