<style type="text/css">
table {
        border-collapse:collapse;
        }
table,th, td {
        border: 1px solid black;
        padding: 3px;
        }
p {
        margin-top: 25px;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	line-height: 13pt;
        }
div.wrap {
	width:auto;
	height: 24px;
	margin-top:30px;
	margin-bottom:30px;
	padding: 0
        }
div.left {
	float: left;
	}
div.center {
	float: left;
	margin-left: 130px;
	}
div.right {
	float: right;
	}
a.arrow {
	text-decoration:none;
	font-size: 12pt;
	color: #e5a83e
	}
</style>
<p>
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/mittaus/etusivu4.jpg">
</p>

<div class="wrap">
  <div class="left"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/6_1.html">&larr; Edellinen sivu</a></div>
  <div class="center"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/sisallysluettelo.html">Sis&auml;llysluettelo</a></div>
  <div class="right"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/7.html">Seuraava sivu &rarr;</a></div>
</div>

<h2>6.2 Koehenkil&ouml;iden ja asiantuntijoiden mittausten v&auml;liset erot</h2>
<p>
Tutkimuksen toisessa vaiheessa etsittiin vastausta kysymykseen: Miss&auml; m&auml;&auml;rin koehenkil&ouml;iden
mittaamat alaraajojen mitat eroavat asiantuntijoiden mittaamista mitoista? Tulokset
esitell&auml;&auml;n mittauskohta kerrallaan ja ne esitet&auml;&auml;n siin&auml; j&auml;rjestyksess&auml; kuin ne omatoimiseen
mittaamiseen suunnitellussa lomakkeessa ovat, lukuun ottamatta painoa ja
keng&auml;nnumeroa koska niit&auml; ei mitattu senttimetreiss&auml;.
</p>
<p>
Systemaattista mittausvirhett&auml; etsittiin Wilcoxonin merkkitestin avulla. Kahdessa mittauskohdassa
l&ouml;ydettiin merkkej&auml; siit&auml;, ett&auml; omatoimisesti mittaavat koehenkil&ouml;t saattavat
mitata systemaattisesti erisuuntaisia arvoja kuin asiantuntija. Omatoimiset pituuden mitat
sek&auml; vasemman jalkater&auml;n ymp&auml;rysmitat olivat melko usein pienempi&auml; kuin asiantuntijoiden
mittaustulokset (TAULUKKO 3).
</p>
<center>
<p>
TAULUKKO 3. Systemaattinen mittavirhe Wilcoxonin merkkitestin avulla.
</p>
<p>
<table>
  <tbody>
    <tr>
      <td></td>
      <td>Koehenkil&ouml;iden mittaustulos suurempi ( n )</td>
      <td>Koehenkil&ouml;iden mittaustulos yht&auml; suuri ( n )</td>
      <td>Koehenkil&ouml;iden mittaustulos pienempi ( n )</td>
      <td>p-arvo</td>
    </tr>
    <tr>
      <td bgcolor="b6dde8">Pituus</td>
      <td bgcolor="b6dde8"><CENTER>4</CENTER></td>
      <td bgcolor="b6dde8"><CENTER>13</CENTER></td>
      <td bgcolor="b6dde8"><CENTER>14</CENTER></td>
      <td bgcolor="b6dde8"><CENTER>0,012</CENTER></td>
    </tr>
    <tr>
      <td>Vy&ouml;t&auml;r&ouml;n ymp&auml;rys</td>
      <td><CENTER>15</CENTER></td>
      <td><CENTER>4</CENTER></td>
      <td><CENTER>12</CENTER></td>
      <td><CENTER>0,335</CENTER></td>
    </tr>
    <tr>
      <td>Oikean jalan sivupituus</td>
      <td><CENTER>12</CENTER></td>
      <td><CENTER>5</CENTER></td>
      <td><CENTER>14</CENTER></td>
      <td><CENTER>0,618</CENTER></td>
    </tr>
    <tr>
      <td>Alaraajojen sis&auml;pituus</td>
      <td><CENTER>15</CENTER></td>
      <td><CENTER>7</CENTER></td>
      <td><CENTER>9</CENTER></td>
      <td><CENTER>0,351</CENTER></td>
    </tr>
    <tr>
      <td>Lantion ymp&auml;rys</td>
      <td><CENTER>12</CENTER></td>
      <td><CENTER>8</CENTER></td>
      <td><CENTER>11</CENTER></td>
      <td><CENTER>0,879</CENTER></td>
    </tr>
    <tr>
      <td>Oikean reiden ymp&auml;rys</td>
      <td><CENTER>15</CENTER></td>
      <td><CENTER>3</CENTER></td>
      <td><CENTER>13</CENTER></td>
      <td><CENTER>0,515</CENTER></td>
    </tr>
    <tr>
      <td>Oikean s&auml;&auml;ren pituus</td>
      <td><CENTER>12</CENTER></td>
      <td><CENTER>5</CENTER></td>
      <td><CENTER>14</CENTER></td>
      <td><CENTER>0,186</CENTER></td>
    </tr>
    <tr>
      <td>Oikean pohkeen ymp&auml;rys</td>
      <td><CENTER>11</CENTER></td>
      <td><CENTER>11</CENTER></td>
      <td><CENTER>9</CENTER></td>
      <td><CENTER>0,821</CENTER></td>
    </tr>
    <tr>
      <td>Oikean nilkan ymp&auml;rys</td>
      <td><CENTER>8</CENTER></td>
      <td><CENTER>15</CENTER></td>
      <td><CENTER>8</CENTER></td>
      <td><CENTER>0,793</CENTER></td>
    </tr>
    <tr>
      <td>Oikean kantap&auml;&auml;n ymp&auml;rys</td>
      <td><CENTER>14</CENTER></td>
      <td><CENTER>8</CENTER></td>
      <td><CENTER>9</CENTER></td>
      <td><CENTER>0,210</CENTER></td>
    </tr>
    <tr>
      <td>Vasemman kantap&auml;&auml;n ymp.</td>
      <td><CENTER>8</CENTER></td>
      <td><CENTER>14</CENTER></td>
      <td><CENTER>9</CENTER></td>
      <td><CENTER>0,597</CENTER></td>
    </tr>
    <tr>
      <td>Oikean jalkap&ouml;yd&auml;n ymp.</td>
      <td><CENTER>7</CENTER></td>
      <td><CENTER>9</CENTER></td>
      <td><CENTER>15</CENTER></td>
      <td><CENTER>0,146</CENTER></td>
    </tr>
    <tr>
      <td bgcolor="b6dde8">Vas. jalkap&ouml;yd&auml;n ymp.</td>
      <td bgcolor="b6dde8"><CENTER>5</CENTER></td>
      <td bgcolor="b6dde8"><CENTER>10</CENTER></td>
      <td bgcolor="b6dde8"><CENTER>16</CENTER></td>
      <td bgcolor="b6dde8"><CENTER>0,051</CENTER></td>
    </tr>
    <tr>
      <td>Oikean p&auml;ki&auml;n leveys</td>
      <td><CENTER>11</CENTER></td>
      <td><CENTER>9</CENTER></td>
      <td><CENTER>11</CENTER></td>
      <td><CENTER>0,558</CENTER></td>
    </tr>
    <tr>
      <td>Vasemman p&auml;ki&auml;n leveys</td>
      <td><CENTER>8</CENTER></td>
      <td><CENTER>14</CENTER></td>
      <td><CENTER>9</CENTER></td>
      <td><CENTER>0,704</CENTER></td>
    </tr>
    <tr>
      <td>Oikean jalkater&auml;n pituus</td>
      <td><CENTER>10</CENTER></td>
      <td><CENTER>16</CENTER></td>
      <td><CENTER>5</CENTER></td>
      <td><CENTER>0,531</CENTER></td>
    </tr>
    <tr>
      <td>Vas. jalkater&auml;n pituus</td>
      <td><CENTER>9</CENTER></td>
      <td><CENTER>17</CENTER></td>
      <td><CENTER>5</CENTER></td>
      <td><CENTER>0,106</CENTER></td>
    </tr>
  </tbody>
</table>
</p>
</center>
<p>
Pituutta mitattaessa keskim&auml;&auml;r&auml;inen omatoimisen ja asiantuntija mittauksen v&auml;linen ero
oli 0,6 cm (TAULUKKO 4). Omatoimisissa mittauksissa pituuden keskiarvo oli 167,9
cm ja asiantuntijoiden mittauksissa pituuden keskiarvo oli 167,5 cm (LIITE 13). Pituutta
mitattaessa (n=31) koehenkil&ouml;t ja asiantuntijat mittasivat saman tuloksen 13 kertaa,
14 kertaa koehenkil&ouml;t mittasivat pituuden lyhyemm&auml;ksi kuin asiantuntijat ja vain nelj&auml;
kertaa pidemm&auml;ksi kuin asiantuntijat (TAULUKKO 3). Lyhyin mitatuista koehenkil&ouml;ist&auml;
oli 115,5 cm ja pisin 190 cm.
</p>
<p>
Vy&ouml;t&auml;r&ouml;n ymp&auml;ryksen omatoimisten ja asiantuntijoiden mittausten keskim&auml;&auml;r&auml;inen ero
oli 1,8 cm (TAULUKKO 4). Omatoimisten mittausten vy&ouml;t&auml;r&ouml;n ymp&auml;rysmittojen keskiarvo
oli 87,6 cm ja asiantuntijoiden mittausten keskiarvo oli 88 cm (LIITE 13). Vy&ouml;t&auml;r&ouml;n
ymp&auml;ryst&auml; mitattaessa koehenkil&ouml;t ja asiantuntijat saivat saman tuloksen vain nelj&auml; kertaa,
12 kertaa koehenkil&ouml;t mittasivat pienemm&auml;n vy&ouml;t&auml;r&ouml;n ymp&auml;rysmitan ja 15
kertaa suuremman vy&ouml;t&auml;r&ouml;n ymp&auml;rysmitan kuin asiantuntija (TAULUKKO 3).
</p>
<p>
Oikean jalan sivupituuden omatoimisten ja asiantuntijoiden mittausten keskim&auml;&auml;r&auml;inen
ero oli 1,6 cm (TAULUKKO 4). Omatoimisten oikean jalan sivupituuden mittojen keskiarvo
oli 106,9 cm ja asiantuntijoiden mittausten keskiarvo oli 106,8 cm (LIITE 13).
Koehenkil&ouml;t ja asiantuntijat mittasivat oikean jalan sivupituuden samanmittaiseksi viisi
kertaa, 14 kertaa koehenkil&ouml;t mittasivat mitan lyhyemm&auml;ksi ja 12 kertaa pidemm&auml;ksi
kuin asiantuntijat (TAULUKKO 3).
</p>
<p>
Alaraajojen sis&auml;pituutta mitattaessa, omatoimisten ja asiantuntijoiden mittausten keskim&auml;&auml;r&auml;inen
ero oli 1,2 cm (TAULUKKO 4). Omatoimisten mittausten keskiarvo oli 78,6
cm ja asiantuntijamittausten keskiarvo oli 78,7 cm (LIITE 13). Koehenkil&ouml;iden ja asiantuntijoiden
saamien mittaustulosten v&auml;lill&auml; ei ollut eroa seitsem&auml;ss&auml; mittauksessa. Koehenkil&ouml;iden
saama mittaustulos oli pienempi kuin asiantuntijoiden saama mittaustulos
yhdeks&auml;ss&auml; mittauksessa ja suurempi kuin asiantuntijoiden tulos 15 mittauksessa
(TAULUKKO 3).
</p>
<p>
Lantion ymp&auml;rysmittaa mitattaessa, omatoimisten ja asiantuntijoiden keskim&auml;&auml;r&auml;inen
mittausero oli 1,3 cm (TAULUKKO 4). Omatoimisten mittausten keskiarvo oli 102,7
cm ja asiantuntijoiden mittausten keskiarvo oli 102.6 cm (LIITE 13). Koehenkil&ouml;iden ja
asiantuntijoiden saamien mittaustulosten v&auml;lill&auml; ei ollut eroa kahdeksassa mittauksessa.
Koehenkil&ouml;iden saama mittaustulos oli pienempi kuin asiantuntijoiden saama mittaustulos
11 ja suurempi kuin asiantuntijoiden tulos 12 mittauksessa (TAULUKKO 3).
</p>
<p>
Reiden ymp&auml;rysmittaa mitattaessa, omatoimisten ja asiantuntijoiden keskim&auml;&auml;r&auml;inen
mittausero oli 1,8 cm (TAULUKKO 4). Omatoimisten mittausten keskiarvo oli 57,9 cm
ja asiantuntijoiden mittausten keskiarvo oli 57,7 cm (LIITE 13). Koehenkil&ouml;iden ja asiantuntijoiden
saamien mittaustulosten v&auml;lill&auml; ei ollut eroa kolmessa mittauksessa. Koehenkil&ouml;iden
saama mittaustulos oli pienempi kuin asiantuntijoiden saama mittaustulos
13 ja suurempi kuin asiantuntijoiden tulos 15 mittauksessa (TAULUKKO 3). Suurin
omatoimisen ja asiantuntijan mittausten v&auml;linen ero reiden ymp&auml;ryst&auml; mitattaessa oli
seitsem&auml;n sentti&auml;.
</p>
<p>
Oikean s&auml;&auml;ren pituuden, omatoimisten ja asiantuntijoiden mittausten keskim&auml;&auml;r&auml;inen
ero oli 1,7 cm (TAULUKKO 4). Omatoimisten oikean s&auml;&auml;ren pituuden mittojen keskiarvo
oli 46,9 cm ja asiantuntijoiden mittausten keskiarvo oli 46,2 cm (LIITE 13).
Koehenkil&ouml;t ja asiantuntijat mittasivat oikean s&auml;&auml;ren pituuden samanmittaiseksi viisi
kertaa, 14 kertaa koehenkil&ouml;t mittasivat mitan lyhyemm&auml;ksi ja 12 kertaa pidemm&auml;ksi
kuin asiantuntijat (TAULUKKO 3).
</p>
<p>
Oikean pohkeen ymp&auml;rysmittaa mitattaessa, omatoimisten ja asiantuntijoiden keskim&auml;&auml;r&auml;inen
mittausero oli 0,4 cm (TAULUKKO 4). Omatoimisten mittausten keskiarvo oli
38,3 cm ja asiantuntijoiden mittausten keskiarvo oli 38,2 cm (LIITE 13). Koehenkil&ouml;iden
ja asiantuntijoiden saamien mittaustulosten v&auml;lill&auml; ei ollut eroa 11 mittauksessa.
Koehenkil&ouml;iden saama mittaustulos oli pienempi kuin asiantuntijoiden saama mittaustulos
yhdeks&auml;ss&auml; ja suurempi kuin asiantuntijoiden tulos 11 mittauksessa (TAULUKKO
3).
</p>
<p>
Oikean nilkan ymp&auml;rysmittaa mitattaessa, omatoimisten ja asiantuntijoiden keskim&auml;&auml;r&auml;inen
mittausero oli 0,2 cm (TAULUKKO 4). Omatoimisten mittausten keskiarvo oli
22,7 cm ja asiantuntijoiden mittausten keskiarvo oli 22,7 cm (LIITE 13). Koehenkil&ouml;iden
ja asiantuntijoiden saamien mittaustulosten v&auml;lill&auml; ei ollut eroa 15 mittauksessa.
Koehenkil&ouml;iden saama mittaustulos oli pienempi kuin asiantuntijoiden saama mittaustulos
kahdeksassa ja suurempi kuin asiantuntijoiden tulos kahdeksassa mittauksessa
(TAULUKKO 3).
</p>
<p>
Kantap&auml;&auml;n ymp&auml;rysmittaa mitattaessa, omatoimisten ja asiantuntijoiden keskim&auml;&auml;r&auml;inen
mittausero oli oikeassa jalassa 0,6 cm ja vasemmassa jalassa 0,5 cm (TAULUKKO 4).
Omatoimisten mittausten keskiarvo oli oikeassa jalassa 32,1 cm ja vasemmassa 32,3
cm. Asiantuntijoiden mittausten keskiarvo oli oikeassa jalassa 32,4 cm ja vasemmassa
jalassa 32,4 cm (LIITE 13). Koehenkil&ouml;iden ja asiantuntijoiden saamien mittaustulosten
v&auml;lill&auml;, oikean kantap&auml;&auml;n ymp&auml;ryksess&auml;, ei ollut eroa kahdeksassa mittauksessa. Vasemmassa
jalassa sama tulos saatiin 14 kertaa. Koehenkil&ouml;t mittasivat oikean kantap&auml;&auml;n
ymp&auml;rysmitan suuremmaksi kuin asiantuntijat 14 kertaa ja pienemm&auml;ksi yhdeks&auml;n kertaa.
Koehenkil&ouml;t mittasivat vasemman kantap&auml;&auml;n ymp&auml;rysmitan suuremmaksi kuin asiantuntijat
kahdeksan kertaa ja pienemm&auml;ksi yhdeks&auml;n kertaa (TAULUKKO 3).
</p>
<center>
<p>
TAULUKKO 4. Omatoimisten- ja asiantuntija mittausten v&auml;listen erojen keskiarvo
</p>
<p>
<table>
  <tbody>
    <tr>
      <td><CENTER>Mittauskohta</CENTER></td>
      <td><CENTER>Mittausten v&auml;listen erojen keskiarvo (cm)</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>Keskim&auml;&auml;r&auml;inen suhteellinen mittausvirhe %<br>
      <font size="1"><u>(asiantuntijamittaus - omatoim. mittaus)</u><br>
      asiantuntijamittaus</td></font>
      <td><CENTER>Suurin yksitt&auml;inen mittausvirhe %</CENTER></td>
    </tr>
    <tr>
      <td>Pituus</td>
      <td><CENTER>0,6 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>0,3 %</CENTER></td>
      <td><CENTER>1,2 %</CENTER></td>
    </tr>
    <tr>
      <td>Vasemman jalkater&auml;n pituus</td>
      <td><CENTER>0,2 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>0,7 %</CENTER></td>
      <td><CENTER>3,4 %</CENTER></td>
    </tr>
    <tr>
      <td>Oikean jalkater&auml;n pituus</td>
      <td><CENTER>0,2 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>0,9 %</CENTER></td>
      <td><CENTER>4,0 %</CENTER></td>
    </tr>
    <tr>
      <td>Oikean nilkan ymp&auml;rys</td>
      <td><CENTER>0,2 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>1,0 %</CENTER></td>
      <td><CENTER>4,2 %</CENTER></td>
    </tr>
    <tr>
      <td>Oikean pohkeen ymp&auml;rys</td>
      <td><CENTER>0,4 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>1,2 %</CENTER></td>
      <td><CENTER>5,9 %</CENTER></td>
    </tr>
    <tr>
      <td>Oikean jalan sivupituus</td>
      <td><CENTER>1,6 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>1,4 %</CENTER></td>
      <td><CENTER>5,5 %</CENTER></td>
    </tr>
    <tr>
      <td>Lantion ymp&auml;rys</td>
      <td><CENTER>1,3 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>1,4 %</CENTER></td>
      <td><CENTER>6,8 %</CENTER></td>
    </tr>
    <tr>
      <td>Alaraajojen sis&auml;pituus</td>
      <td><CENTER>1,2 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>1,5 %</CENTER></td>
      <td><CENTER>5,7 %</CENTER></td>
    </tr>
    <tr>
      <td>Vasemman kantap&auml;&auml;n ymp&auml;rys</td>
      <td><CENTER>0,5 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>1,6 %</CENTER></td>
      <td><CENTER>17,7 %</CENTER></td>
    </tr>
    <tr>
      <td>Vy&ouml;t&auml;r&ouml;n ymp&auml;rys</td>
      <td><CENTER>1,8 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>2,0 %</CENTER></td>
      <td><CENTER>7,1 %</CENTER></td>
    </tr>
    <tr>
      <td>Oikean kantap&auml;&auml;n ymp&auml;rys</td>
      <td><CENTER>0,6 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>2,1 %</CENTER></td>
      <td><CENTER>21,6 %</CENTER></td>
    </tr>
    <tr>
      <td>Vasemman jalkap&ouml;yd&auml;n ymp&auml;rys</td>
      <td><CENTER>0,5 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>2,1 %</CENTER></td>
      <td><CENTER>7,7 %</CENTER></td>
    </tr>
    <tr>
      <td>Oikean jalkap&ouml;yd&auml;n ymp&auml;rys</td>
      <td><CENTER>0,6 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>2,3 %</CENTER></td>
      <td><CENTER>11,1 %</CENTER></td>
    </tr>
    <tr>
      <td>Vasemman p&auml;ki&auml;n leveys</td>
      <td><CENTER>0,2 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>2,4 %</CENTER></td>
      <td><CENTER>10,0 %</CENTER></td>
    </tr>
    <tr>
      <td>Oikean reiden ymp&auml;rys</td>
      <td><CENTER>1,8 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>3,2 %</CENTER></td>
      <td><CENTER>12,6 %</CENTER></td>
    </tr>
    <tr>
      <td>Oikean s&auml;&auml;ren pituus</td>
      <td><CENTER>1,7 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>3,4 %</CENTER></td>
      <td><CENTER>12,1 %</CENTER></td>
    </tr>
    <tr>
      <td>Oikean p&auml;ki&auml;n leveys</td>
      <td><CENTER>0,4 cm</CENTER></td>
      <td bgcolor="d6e3bc"><CENTER>3,5 %</CENTER></td>
      <td><CENTER>18,2 %</CENTER></td>
    </tr>
  </tbody>
</table>
</center>
</p>
<p>
Jalkap&ouml;yd&auml;n ymp&auml;rysmittaa mitattaessa, omatoimisten ja asiantuntijoiden keskim&auml;&auml;r&auml;inen
mittausero oli oikeassa jalassa 0,6 cm ja vasemmassa jalassa 0,5 cm (TAULUKKO
4). Omatoimisten mittausten keskiarvo oli oikeassa jalassa 24,2 cm ja vasemmassa 24,2 cm.
Asiantuntijoiden mittausten keskiarvo oli oikeassa jalassa 24 cm ja vasemmassa
jalassa 24 cm (LIITE 13). Koehenkil&ouml;iden ja asiantuntijoiden saamien mittaustulosten
v&auml;lill&auml;, oikean jalkap&ouml;yd&auml;n ymp&auml;ryksess&auml;, ei ollut eroa yhdeks&auml;ss&auml; mittauksessa. Vasemmassa
jalassa sama tulos saatiin 10 kertaa. Koehenkil&ouml;t mittasivat oikean jalkap&ouml;yd&auml;n
ymp&auml;rysmitan suuremmaksi kuin asiantuntijat seitsem&auml;n kertaa ja pienemm&auml;ksi 15
kerta. Koehenkil&ouml;t mittasivat vasemman jalkap&ouml;yd&auml;n ymp&auml;rysmitan suuremmaksi kuin
asiantuntijat viisi kertaa ja pienemm&auml;ksi 16 kertaa (KUVIO 16 ja KUVIO 17)
(TAULUKKO 3).
</p>
<center>
<p>
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/mittaus/kuvio16.jpg" width="650" height="351" alt="Kuvio 16"><br>
KUVIO 16. Oikean jalkap&ouml;yd&auml;n ymp&auml;ryksen mittauserot
</p>
<p>
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/mittaus/kuvio17.jpg" width="650" height="351" alt="Kuvio 17"><br>
KUVIO 17. Vasemman jalkap&ouml;yd&auml;n ymp&auml;ryksen mittauserot
</p>
</center>
<p>
P&auml;ki&auml;n leveys ja jalkater&auml;n pituus mitattiin paperille piirretyst&auml; jalkater&auml;n &auml;&auml;riviivapiirroksesta.
P&auml;ki&auml;n leveydett&auml; mitattaessa oikeassa jalkater&auml;ss&auml; omatoimisten mittausten ja
asiantuntijoiden mittausten ero oli keskim&auml;&auml;rin 0,4 cm ja vasemmassa jalkater&auml;ss&auml; 0,2
cm (TAULUKKO 4). Omatoimisten mittausten keskiarvo oli oikeassa jalassa 10,1 cm
ja vasemmassa 10 cm. Asiantuntijoiden mittausten keskiarvo oli oikeassa jalassa 10 cm
ja vasemmassa jalassa 10 cm (LIITE 13). Koehenkil&ouml;iden ja asiantuntijoiden saamien
mittaustulosten v&auml;lill&auml;, oikean p&auml;ki&auml;n leveydess&auml;, ei ollut eroa yhdeks&auml;ss&auml; mittauksessa.
Vasemmassa jalassa sama tulos saatiin 14 kertaa. Koehenkil&ouml;t mittasivat oikean p&auml;ki&auml;n
leve&auml;mm&auml;ksi kuin asiantuntijat 11 kertaa ja pienemm&auml;ksi 11 kertaa. Koehenkil&ouml;t mittasivat
oikean p&auml;ki&auml;n suuremmaksi kuin asiantuntijat kahdeksan kertaa ja pienemm&auml;ksi
yhdeks&auml;n kertaa (KUVIO 18 ja KUVIO 19) (TAULUKKO 3).
</p>
<center>
<p>
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/mittaus/kuvio18.jpg" width="650" height="351" alt="Kuvio 18"><br>
KUVIO 18. Oikean p&auml;ki&auml;n leveyden mittauserot
</p>
<p>
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/mittaus/kuvio19.jpg" width="650" height="351" alt="Kuvio 19"><br>
KUVIO 19. Vasemman p&auml;ki&auml;n leveyden mittauserot
</p>
</center>
<p>
Oikean jalkater&auml;n pituutta mitattaessa omatoimisten mittausten ja asiantuntijoiden mittausten
ero oli keskim&auml;&auml;rin 0,2 cm ja vasemmassa jalkater&auml;ss&auml; 0,2 cm (TAULUKKO 4).
Omatoimisten mittausten keskiarvo oli oikeassa jalkater&auml;ss&auml; 24,9 cm ja vasemmassa
24,7 cm. Asiantuntijoiden mittausten keskiarvo oli oikeassa jalassa 24,9 cm ja vasemmassa
jalassa 24,8 cm (LIITE 13). Koehenkil&ouml;iden ja asiantuntijoiden saamien mittaustulosten
v&auml;lill&auml;, oikean jalkater&auml;n pituudessa, ei ollut eroa 16 mittauksessa. Vasemmassa
jalassa sama tulos saatiin 17 kertaa. Koehenkil&ouml;t mittasivat oikean jalkater&auml;n pidemm&auml;ksi
kuin asiantuntijat 10 kertaa ja lyhyemm&auml;ksi viisi kertaa. Koehenkil&ouml;t mittasivat
vasemman jalkater&auml;n pidemm&auml;ksi kuin asiantuntijat yhdeks&auml;n kertaa ja lyhyemm&auml;ksi
viisi kertaa (KUVIO 20 ja KUVIO 21) (TAULUKKO 3).
</p>
<center>
<p>
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/mittaus/kuvio20.jpg" width="650" height="351" alt="Kuvio 20"><br>
KUVIO 20. Oikean jalkater&auml;n pituuden mittauserot
</p>
<p>
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/mittaus/kuvio21.jpg" width="650" height="351" alt="Kuvio 21"><br>
KUVIO 21. Vasemman jalkater&auml;n pituuden mittauserot
</p>
</center>
<p>
Keskim&auml;&auml;r&auml;inen suhteellinen mittausvirhe prosenttilukuina ilmoitettuna, oli pienimmill&auml;&auml;n
pituutta mitattaessa, 0,3 prosenttia. Toiseksi ja kolmanneksi pienimm&auml;t keskim&auml;&auml;r&auml;iset
suhteelliset mittausvirheet, olivat jalkaterien pituuksissa. Vasemmassa jalkater&auml;ss&auml;
0,7 prosenttia ja oikeassa 0,9 prosenttia. Suurin prosentuaalinen keskim&auml;&auml;r&auml;inen suhteellinen
mittausvirhe oli oikean p&auml;ki&auml;n leveyden mittauksessa, 3,5 prosenttia. Toiseksi
ja kolmanneksi suurimmat mittausvirheet keskim&auml;&auml;rin, olivat oikean s&auml;&auml;ren pituudessa
3,4 prosenttia ja oikean reiden ymp&auml;ryksess&auml; 3,2 prosenttia (TAULUKKO 4).
</p>
<p>
Suurin yksitt&auml;inen mittausvirhe ilmeni mitattaessa oikean kantap&auml;&auml;n ymp&auml;ryst&auml;, 21,6
prosenttia. Vasemman kantap&auml;&auml;nymp&auml;ryksen suurin yksitt&auml;inen mittausvirhe oli my&ouml;s
korkea, 17,7 prosenttia. Oikean p&auml;ki&auml;n leveyden mittauksessa, jossa keskim&auml;&auml;r&auml;inen
suhteellinen mittausvirhe oli suurin, suurin yksitt&auml;inen mittausvirhe oli 18,2 prosenttia
(TAULUKKO 4).
</p>
<p>
Varianssien yht&auml;suuruustestill&auml; todettiin, ett&auml; vaikka mittaajia oli vain 31, on jo t&auml;m&auml;n
aineiston perusteella t&auml;ysin selv&auml;&auml;, ett&auml; joissakin mittauskohdissa mittaustulosten poikkeama
asiantuntija ja omatoimisen mittauksen v&auml;lill&auml; oli suurempaa kuin toisissa
(p=0,000).
</p>
<center>
<p>
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/mittaus/kuvio22.jpg" width="650" height="351" alt="Kuvio 22"><br>
KUVIO 22. Suhteellinen mittausero
</p>
</center>
<p>
Kruskal-Wallisin testin avulla tutkittiin, miss&auml; mittauskohdassa mittausten v&auml;lill&auml; saatiin
suurimmat suhteelliset eroavaisuudet (KUVIO 22), mit&auml; suurempi j&auml;rjestyslukujen keskiarvo
mittauskohdalla on, sit&auml; suuremmat suhteelliset erot mittausten v&auml;lilt&auml; l&ouml;ytyy.
Suurimmat suhteelliset erot mittausten v&auml;lill&auml; ilmenev&auml;t mitattaessa reiden ymp&auml;rysmittaa,
s&auml;&auml;ren pituutta ja oikean p&auml;ki&auml;n leveytt&auml;. Pienimm&auml;t suhteelliset mittauserot syntyv&auml;t
pituutta ja jalkaterien pituutta mitattaessa.
</p>