<style type="text/css">
p {
	margin-top: 25px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	line-height: 13pt;
	}
div.wrap {
	width:auto;
	height: 24px;
	margin-top:30px;
	margin-bottom:30px;
	padding: 0
        }
div.left {
	float: left;
	}
div.center {
	float: left;
	margin-left: 130px;
	}
div.right {
	float: right;
	}
a.arrow {
	text-decoration:none;
	font-size: 12pt;
	color: #e5a83e
	}
</style>
<p>
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/mittaus/etusivu4.jpg">
</p>

<div class="wrap">
  <div class="left"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/8.html">&larr; Edellinen sivu</a></div>
  <div class="center"><a class="arrow" href="http://www.tallsmall.fi/fi/all/e0/html/mittaus/sisallysluettelo.html">Sis&auml;llysluettelo</a></div>
</div>

<h2>L&Auml;HTEET</h2>
<p>
Ahonen, Jorma – Sandstr&ouml;m, Marita – Laukkanen, Raija – Haapalainen, Jouni –
Immonen, Seppo – Jansson, Laura – Fogelholm, Mikael 2002: Alaraajojen pituuserot.
Teoksessa Ahonen, Jorma (toim.): Alaraajojen rakenne, toiminta ja k&auml;velykoulu.
Jyv&auml;skyl&auml;: VK- Kustannus Oy. 381, 388.
</p>
<p>
Bari, Siti Balkis – Othman, Mumtazah – Salleh, Naimah Mohd 2010: Foot Anthropometry
for Shoe design among Preschool Children in Malaysia. Pertanika Journal
of Social Sciences and Humanities 18 (1). 69 –79.
</p>
<p>
Cheng, Feng-Tsung – Perng, Der-Baau 1999: A systematic approach for developing a
foot size information system for shoe last design. International Journal of Industrial
Erconomics 25. 171-185.
</p>
<p>
Fan, J – Yu, W – Hunter, L 2004: Clothing appearance and fit: Science and technology.
Cambridge: Woodhead Publishing Limited (in association with The Textile Institute).
164 – 166.
</p>
<p>
Forrest, J Douglas 2006: Footwear. Teoksessa Lorimer, Donald French, Gwen –
O’Donnell, Maureen – Burrow, J Gordon – Wall, Barbara (toim.): Neale’s Disorders
of the Foot. London: Churchill Livingstone Elsevier. 517–537.
</p>
<p>
Freedman, DS – Rimm, AA 1989: The relation of body fat distribution, as assessed by
six girth measurements, to diabetes mellitus in women. American Journal of
Public Health 79. 715-720.
</p>
<p>
Hanson, Lars – Sperling, Lena – Gard, G – Ipsen, S – Vergera, C.O 2008: Swedish anthropometrics
for product and workplace desing. Applied Ergonomics 40. 797-
806.
</p>
<p>
Helakorpi, Satu – Paavola, Meri – Pr&auml;tt&auml;l&auml;, Ritva – Uutela, Antti 2009: Terveyden ja
hyvinvoinnin laitoksen raportti 2/2009: Suomalaisen aikuisv&auml;est&ouml;n terveysk&auml;ytt&auml;ytyminen
ja terveys, kev&auml;t 2008. Helsinki: Terveyden ja hyvinvoinnin laitos.
</p>
<p>
HUMOSIM 2003: Anthropometric Measurements. Center For Ergonomics, University
of Michigan.
</p>
<p>
Imrhan, Sheik – Imrhan, Victorine – Curtis, Hart 1996: Can self-estimates of body
weight and height be used in place of measurements for college students? Ergonomics
39 (12). 1445-1453.
</p>
<p>
International Organization for Standardization 1989: ISO 8559. Garment Construction
and Antropometric Surveys – Body Dimensions.
</p>
<p>
International Shoe Sizes n.d.: <<a href="http://www.internationalshoesizes.com">http://www.internationalshoesizes.com/</a>>. Luettu
29.09.2010
</p>
<p>
International Standard 1991: ISO 9407. Shoes sizes – mondopoint system of sizing and
marking.
</p>
<p>
Jallinoja, Piia – Sahi, Timo – Uutela, Antti (toim.) 2008: Kansanterveyslaitoksen julkaisuja
B16/2008: Varusmiesten ravitsemus, terveyden riskitekij&auml;t ja terveystaju.
Helsinki: Kansanterveyslaitos.
</p>
<p>
Jelinek, H.F – Fox, D. 2009: Foot Health and Elevated Body Mass Index. The foot and
Ankle Online Journal 2(8):4.
</p>
<p>
Kinz, Wieland 2005: Kinderfüße-Kinderschuhe. Salzburg: Impressum.
</p>
<p>
Koskinen, Seppo – Martelin, Tuija – Notkola, I-L ym. 2007: Suomen v&auml;est&ouml;. Helsinki:
Gaudeamus.
</p>
<p>
Kylm&auml;, Jari – Juvakka, Taru 2007: Laadullinen terveystutkimus. Helsinki: Edita.
</p>
<p>
Laubach, Lloyd L. – McCoville John T. 1967: Notes on Anthropometric Technique:
Anthropometric measurements - right and left sides. American Journal of Physical
Anthropology 26 (3). 367-369.
</p>
<p>
Lee, Yung – Tsun Tina 1994: Body Dimensions for Apparel. Factory Automation Systems
Division Manufacturing Engineering Laboratory National Institude of
Standards and Technology.
</p>
<p>
Liukkonen, Irmeli – Saarikoski, Riitta 2007: Terveet Jalat. Helsinki: Duodecim.
</p>
<p>
Manna, I. – Pradhan, D. – Ghosh, S. – Kumar Kar, S – Dhara, P 2001: A Comparative
Study of Foot Dimension between Adult Male and Female and Evulation of
Foot Hazards due to Using of footwear. Journal of Physiological Antropology
and applied Human Science 20 (4). 241-246.
</p>
<p>
Mauch, Marlene – Mickle, Karen J. – Munro, Bridget J. – Dowling, Annaliese M. –
Grau, Stefan – Steele, Julie R 2008: Do the feet of German and Australian children
differ in structure? Implications for children’s shoe design. Ergonomics 40
(4). 572-539.
</p>
<p>
Mets&auml;muuronen, Jari 2005: Tutkimuksen tekemisen perusteet ihmistieteiss&auml;. Jyv&auml;skyl&auml;:
Gummerus.
</p>
<p>
Millar, WJ 1986: Distribution of body weight and height: comparison of estimates
based on self-reported and observed measures. Journal Epidemiol Community
Health 40. 319-323.
</p>
<p>
N-2001 2001: Naisten vaatetuksen mittataulukko. Kuopion Yliopiston Vaatetusfysiologian
laboratorio ja Tekstiili- ja Vaateteollisuusliitto ry.
</p>
<p>
NHANES 2009: National Health and Nutrition Examination Survey, Anthropometry
Procedures Manual.
</p>
<p>
Openerg 2008: PeopleSize. <<a href="http://www.openerg.com/psz/index.html">http://www.openerg.com/psz/index.html</a>>. Luettu
13.09.2010
</p>
<p>
Pieni- ja Isokenk&auml;iset ry 2008: MITTAVA kansallisen Kokotalkoot -kampanjan valmisteluhanke.
Julkaisematon l&auml;hde.
</p>
<p>
Pieni- ja Isokenk&auml;iset ry 2009: Toimintasuunnitelma vuodelle 2009: Keng&auml;n koputuksia
1/2009.
</p>
<p>
Raeven, GM. 1988: Banting lecture 1988: role of insulin resistance in human disease.
Diabetes 37. 1595-1607.
</p>
<p>
Saarikoski, Riitta – Liukkonen, Irmeli 2004: Sukat ja keng&auml;t. Teoksessa Liukkonen,
Irmeli – Saarikoski, Riitta (toim.): Jalat ja terveys. Helsinki: Duodecim. 36–51.
</p>
<p>
Saaristo, Seppo 1989: Keng&auml;n suunnittelu- ja valmistustekniikka. Helsinki: Valtion painatuskeskus.
</p>
<p>
Sammalisto, Sampo 2008: Kansanterveyslaitoksen julkaisuja A 1/2008: Search for Genetic
Variants Influencing Human Height. Helsinki: L&auml;&auml;ketieteellinen tiedekunta.
Helsingin Yliopisto.
</p>
<p>
Schuenke, Michael – Schulte, Erik – Schumacher, Udo 2006: Atlas of Anatomy. General
Anatomy and Musculoskeletal system. Stutgart: Thieme.
</p>
<p>
SFS 2010: Suomen Standardisoimisliitto ry. <<a href="http://www.sfs.fi">http://www.sfs.fi</a>>. Luettu 14.10.2010
</p>
<p>
Straus, RS 1999: Comparison of measured and self-reported weight and height in a
cross-sectional sample of young adolescents. Journal of Obes Relat Metab
Disord. 23. 904-908.
</p>
<p>
Suomen Standardisoimisliitto SFS 2001: SFS-EN 13402-1. Vaatetuksen kokomerkint&auml;.
Osa1: Termit, m&auml;&auml;ritelm&auml;t ja vartalon mittausmenetelm&auml;t.
</p>
<p>
Suomen Standardisoimisliitto SFS 2002: SFS-EN 13402-2. Vaatetuksen kokomerkint&auml;.
Osa 2: Ensisijaiset ja toissijaiset mitat.
</p>
<p>
Suomen Standardisoimisliitto SFS 2004: SFS-EN ISO 7250. Ihmisen perusmitat teknist&auml;
suunnittelua varten.
</p>
<p>
Suomen Standardisoimisliitto SFS 2005: SFS -EN 13402-3. Vaatetuksen kokomerkint&auml;.
Osa 3: Mitat ja mittav&auml;lit.
</p>
<p>
Suomen Standardisoimisliitto SFS 2005a: SFS -EN ISO 19952. Jalkineet. Sanasto.
</p>
<p>
Suomen Standardisoimisliitto SFS ry. 2009: SFS- k&auml;sikirja 1. Standardit ja standardisointi
2009. Helsinki.
</p>
<p>
Suomen Syd&auml;nliitto ry.2010: http://www.sydanliitto.fi/painoindeksijavyotaronymparys1.>
Luettu 08.09.2010
</p>
<p>
Stydom, Marietta – de Klerk, Helena M 2006: The South African clothing industry:
problems experienced with body measurements. Tydskrif vir Gesinsekologie en
Verbruikerswetenskappe. 34. 80-88.
</p>
<p>
Tehard, B – van Liere, M.J – Com Nougué, C – Clavel-Chapelon, F
2002:Anthropometric measurements and body silhouette of women: Validity
and perception. Journal of American Dietetic Association 12. 1779-84.
</p>
<p>
Tokmakidis, Savvas P – Christodoulos, Antonios D – Mantzouranis, Nikolaos I 2007:
Validity of Self-Reported Anthropometric Values Used to Assess Body Mass
Index and Estimate Obesity in Greek School Children. Journal of Adolescent
Health 40. 305-310.
</p>
<p>
Tuomi, Jouni 2007: Tutki ja lue. Johdatus tieteellisen tekstin ymm&auml;rt&auml;miseen. Helsinki:
Tammi.
</p>
<p>
Tyrrell, Wendy – Carter, Gwenda 2009: Therapeutic Footwear a comprehensive guide.
China: Churchill Livingstone Elsevier.
</p>
<p>
Uusitupa, M. – Fogelholm, M. 2007: Antropometriset mittaukset. Teoksessa Aro, A –
Mutanen, M – Uusitupa, M (toim.): Ravitsemustiede. Helsinki: Duodecim. 276-
279.
</p>
<p>
V&auml;yrynen, Seppo – Nevala, Nina – P&auml;ivinen, Minna 2004: Ergonomia ja k&auml;ytett&auml;vyys
suunnittelussa. Tampere: Teknologia teollisuus.
</p>
<p>
Vilkka, Hanna – Airaksinen, Tiina. 2003: Toiminnallinen opinn&auml;ytety&ouml;. Helsinki:
Tammi.
</p>
<p>
Vilkka, Hanna 2005: Tutki ja kehit&auml;. Helsinki: Tammi.
</p>
<p>
Vilkka, Hanna 2006: Tutki ja havainnoi. Helsinki: Tammi.
</p>
<p>
Vilkka, Hanna 2007: Tutki ja mittaa. Helsinki: Tammi.
</p>
<p>
Wang, Z – Patterson, CM – Hills, AP 2007: A comparison of self-reported and measured
height, weight and BMI in Australian adolescents. Journal of Public Health
26 (5). 473-478.
</p>