<div class="back_to_index">
    <a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow"><img 
    border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif"></span></a>
    <a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
    <td colspan="2">
      <h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
      <br />
      <h2 class="blue">Nro 2 / 1998</h2></td>
      </tr>
<tr valign="top">
<td width="10%"></td>
<td width="90%"></td>
</tr>
<tr valign="top">
<td width="10%">
2
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_2.pdf" target="_blank">Valitut hallituksen j&auml;senet, varaj&auml;senet ja
tilintarkastajat 29.3.1998</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
3
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_3.pdf" target="_blank">P&auml;&auml;kirjoitus, Maiju Havinen</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
4
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_4.pdf" target="_blank">Tiina Nikkola valmistui jalkineartenomiksi</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
4-5
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_4-5.pdf" target="_blank">J&auml;senasiaa</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
6
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_6.pdf" target="_blank">Yhteyshenkil&ouml;t eri paikkakunnilla</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
6
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_6.pdf" target="_blank">Haluatko malliksi muotin&auml;yt&ouml;kseen</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
7
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_7.pdf" target="_blank">Yhdistysasiaa Tampereen seudulta</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
8
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_8.pdf" target="_blank">Tampereen Tuula raportoi: Pienten asia
enemm&auml;n esille!</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
9
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_9.pdf" target="_blank">Emme, amerikkalainen 40+ -supermalli,
edustaa todellisuutta</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
10
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_10.pdf" target="_blank">Lainattua ja saksittua mm:</a>
</td>
</tr>
<tr valign="top">
<td width="10%"></td>
<td width="90%">
- Sel&auml;n jumppavinkki. HS, Risto Forss
</td>
</tr>
<tr valign="top">
<td width="10%">
11-12
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_11-12.pdf" target="_blank">Ilmoituksia</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
13
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_13.pdf" target="_blank">J&auml;senreksiterin tarkistaminen</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
13-19
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_13-19.pdf" target="_blank">Naisten ja miesten mittataulukot. Laatija
Juhani Brander</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
20
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_20.pdf" target="_blank">J&auml;senten kokemuksia kuluttajana</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
21
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_21.pdf" target="_blank">Ilmoitukset: Sauso K&auml;sine ja Exsemina Oy</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
22-29
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_22-29.pdf" target="_blank">Erikoismessut Tampereella, messukyselyt</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
30-31
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_2_30-31.pdf" target="_blank">Yhdistyksen p&ouml;yt&auml;kirja vuosikokouksesta
29.3.1998</a>
</td>
</tr>
</tbody>
</table>
</div>