<div class="back_to_index">
    <a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow"><img 
    border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif"></span></a>
    <a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
    <td colspan="2">
      <h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
      <br />
      <h2 class="blue">Nro 3 / 1998</h2></td>
      </tr>
<tr valign="top">
<td width="10%"></td>
<td width="90%"></td>
</tr>
<tr valign="top">
<td width="10%">
2
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_2.pdf" target="_blank">Yhteystiedot</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
3
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_3.pdf" target="_blank">P&auml;&auml;kirjoitus, Maiju Havinen</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
4-6
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_4-6.pdf" target="_blank">Syyskokous- ja pikkujoulutapaaminen Lahdessa</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
7-8
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_7-8.pdf" target="_blank">Nirsot jalat. Pakina, Anne Hiipakka</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
8
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_8.pdf" target="_blank">Kokemuksia ja mielipiteit&auml;</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
9
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_9.pdf" target="_blank">Ilmoitus: Pohjanheimo</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
10
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_10.pdf" target="_blank">Kokemuksia ja mielipiteit&auml;</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
11
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_11.pdf" target="_blank">Euroopan pitkien ihmisten tapaaminen
Lontoossa</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
11
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_11.pdf" target="_blank">Pituuden yhteys sairastavuuteen -tutkimus</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
12
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_12.pdf" target="_blank">Tampereen paikallistoimintaa</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
12-14
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_12-14.pdf" target="_blank">Pienikokoisille naisj&auml;senille suunnattu
kysely</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
15-19
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_15-19.pdf" target="_blank">Yhdistyksen toimintasuunnitelma vuodelle 1999</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
19
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_19.pdf" target="_blank">Yhteyshenkil&ouml;it&auml; eri talousalueilla</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
20-21
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_20-21.pdf" target="_blank">Ulkomaisia kenk&auml;- ja vaateostopaikkoja</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
22
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_22.pdf" target="_blank">Mielipiteit&auml; ja lehdist&auml; saksittua</a>
</td>
</tr>
<tr valign="top">
<td width="10%"></td>
<td width="90%">
- Lastenistuimista ja turvatyynyist&auml;. Kuluttajalehti
</td>
</tr>
<tr valign="top">
<td width="10%"></td>
<td width="90%">
- Pitk&auml;n tyt&ouml;n onnistunut takkiostos
</td>
</tr>
<tr valign="top">
<td width="10%"></td>
<td width="90%">
- Alaraajan ryhdin merkitys. FYSI/91
</td>
</tr>
<tr valign="top">
<td width="10%">
23
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_23.pdf" target="_blank">Mist&auml; sopivia autoja meille pienille ja
isoille? Lavi-Eskelinen</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
24
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_24.pdf" target="_blank">J&auml;senasiaa</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
24
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_24.pdf" target="_blank">Ostospaikkoja Lahden seudulla</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
25
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_25.pdf" target="_blank">Taru Tuukkanen, koripalloilija</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
26
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_26.pdf" target="_blank">Lainattua ja saksittua</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
26
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_26.pdf" target="_blank">Vaatekokojen vertailutaulukko</a>
</td>
</tr>
<tr valign="top">
<td width="10%">
27
</td>
<td width="90%">
<a href="/site_media/pdf/koputuksia/sivut/1998_3_27.pdf" target="_blank">Pienikenk&auml;isten tavoitteita, eli miten ymp&auml;rist&ouml;&auml; tulisi parantaa</a>
</td>
</tr>
</tbody>
</table>
</div>
