<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 4 / 2000</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/2000_4.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/4_2000_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/2000_4.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%"></td>
    </tr>
    <tr valign="top">
      <td width="15%">2</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_2.pdf" target="_blank">Tekniset tiedot</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">3</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_3.pdf" target="_blank">P&auml;&auml;kirjoitus, Maiju Havinen</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">4-6</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_4-6.pdf" target="_blank">Terveysasiaa: Otteita internetist&auml; ja
        lehdist&auml;</a></td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Tietoa Marfan -oireyhtym&auml;st&auml;</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Kunnon keng&auml;t lapsen lattajalkoihin</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Juttuja teemasta "Liian ahtaat pulpetit"</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Rattaisiin s&auml;&auml;dett&auml;v&auml;t ty&ouml;nt&ouml;aisat</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Pitkienkin pit&auml;isi saada sopivia ty&ouml;v&auml;lineit&auml;</td>
    </tr>
    <tr valign="top">
      <td width="15%">7</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_7.pdf" target="_blank">Ilmoitus: Kristiina</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">8-9</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_8-9.pdf" target="_blank">Liikemaailman n&auml;k&ouml;vinkkelist&auml;</a></td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Mitat uusiksi</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Kenk&auml;ketjuista</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Kenki&auml; kookkaalle nuorelle miehelle, tj. Arja Partanen
        kertoo</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Tanja Joenv&auml;&auml;r&auml; ja Helen Reijonen valmistuivat
        vaatetusteknikoiksi</td>
    </tr>
    <tr valign="top">
      <td width="15%">10</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_10.pdf" target="_blank">Autoveroasiaa</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">11</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_11.pdf" target="_blank">Ostospaikkoja</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">12</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_12.pdf" target="_blank">Asiakaspalvelukortti</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">13-14</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_13-14.pdf" target="_blank">Meid&auml;n kesken</a></td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Yhteyshenkil&ouml;t</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Tervetuloa joukkoon!</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- J&auml;senten s&auml;hk&ouml;postiosoitteita</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- J&auml;senten kirjoituksia</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Kysymyksi&auml; ja vastauksia</td>
    </tr>
    <tr valign="top">
      <td width="15%">15</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_15.pdf" target="_blank">Proosaa ja runoa j&auml;senten kyn&auml;st&auml;</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">16-17</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_16-17.pdf" target="_blank">Info </a> </td>
    </tr>
    <tr valign="top">
      <td width="15%">18</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_18.pdf" target="_blank">Tampereen Tullintorilla tapahtui 28.10.2000</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">19-20</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_19-20.pdf" target="_blank">P&ouml;yt&auml;kirja syyskokouksesta 28.10.2000</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">21-22</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_21-22.pdf" target="_blank">Valtakunnallinen nuorisoj&auml;rjest&ouml;p&auml;iv&auml;
        S&auml;&auml;tytalossa </a> </td>
    </tr>
    <tr valign="top">
      <td width="15%">23</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_23.pdf" target="_blank">Ulkomaan uutisia</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">24-25</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_24-25.pdf" target="_blank">Saksittua</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">26</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_26.pdf" target="_blank">Yhdistyksen luottamushenkil&ouml;t</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">27</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_4_27.pdf" target="_blank">Toimittajan toivomuslista</a></td>
    </tr>
  </tbody>
</table>