<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 3 / 1997</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/1997_3.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/3_1997_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/1997_3.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%"></td>
    </tr>
    <tr valign="top">
      <td width="15%">2</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1997_3_2.pdf" target="_blank">Yhteystiedot</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">3</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1997_3_3.pdf" target="_blank">P&auml;&auml;kirjoitus, Maiju Havinen</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">3</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1997_3_3.pdf" target="_blank">Kokouskutsu</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">4</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1997_3_4.pdf" target="_blank">Pieni- ja Isokenk&auml;iset eduskunnassa</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">5</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1997_3_5.pdf" target="_blank">Vierailu kenk&auml;tehtaaseen - ilmoittautuminen</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">6</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1997_3_6.pdf" target="_blank">Euroopan standardoimisj&auml;rjest&ouml; CEN</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">6</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1997_3_6.pdf" target="_blank">Kenkien kokonumerointi: Ranska, Englanti ,
        USA</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">7-8</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1997_3_7-8.pdf" target="_blank">Ostospaikkavinkkej&auml;</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">9</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1997_3_9.pdf" target="_blank">Saksittua: Hyvi&auml; neuvoja kenkien ostajalle</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">10</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1997_3_10.pdf" target="_blank">Yhdistyksen j&auml;seni&auml;</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">11</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1997_3_11.pdf" target="_blank">Ilmoitus: Minerva Pajunen</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">12</td>
      <td width="85%">Kartta: Merihotelli, Helsinki</td>
    </tr>
  </tbody>
</table>