<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 3-4 / 2010</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/2010_3-4.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/3-4_2010_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/2010_3-4.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
<tr valign="top">
<td width="15%"></td>
<td width="85%"></td>
</tr>
<tr valign="top">
<td width="15%">2</td>
<td width="85%">Mediatiedot</td>
</tr>
<tr valign="top">
<td width="15%">3</td>
<td width="85%">Maijun palsta</td>
</tr>
<tr valign="top">
<td width="15%">4</td>
<td width="85%">Etsitään pieni- tai isokenkäistä puheenjohtajaa ja uusia hallitusaktiiveja</td>
</tr>
<tr valign="top">
<td width="15%">5</td>
<td width="85%">Alaraajojen luotettava mittaaminen -ilmoitus</td>
</tr>
<tr valign="top">
<td width="15%">6</td>
<td width="85%">Näin valitset lapsille sopivat talvikengät</td>
</tr>
<tr valign="top">
<td width="15%">7</td>
<td width="85%">Asiamme esillä 2010<br/>
EuropaTreffen 2012 -ilmoitus</td>
</tr>
<tr valign="top">
<td width="15%">8</td>
<td width="85%">Vaatteissa suuria vaihteluja kokomerkinnän ja todellisen koon välillä</td>
</tr>
<tr valign="top">
<td width="15%">9</td>
<td width="85%">Kutsu syyskokoukseen</td>
</tr>
<tr valign="top">
<td width="15%">10-12</td>
<td width="85%">EuropaTreffen 2011 -ilmoitus ja ohjelma</td>
</tr>
<tr valign="top">
<td width="15%">13-14</td>
<td width="85%">Syystreffien ohjelma</td>
</tr>
<tr valign="top">
<td width="15%">15-20</td>
<td width="85%">Ensikertalaisena Eurooppa-tapaamisessa 2010</td>
</tr>
<tr valign="top">
<td width="15%">21</td>
<td width="85%">Europatreffen, Rostock 2010 -tositarinoita</td>
</tr>
<tr valign="top">
<td width="15%">22</td>
<td width="85%">New Yorkin suurimmat</td>
</tr>
<tr valign="top">
<td width="15%">23</td>
<td width="85%">Eurooppa-tapaamisten historia</td>
</tr>
</tbody>
</table>