<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 1-2 / 2006</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/2006_1-2.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/1-2_2006_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/2006_1-2.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
<tr valign="top">
<td width="15%"></td>
<td width="85%"></td>
</tr>
<tr valign="top">
<td width="15%">
1
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2006_1-2_1.pdf" target="_blank">Kysely j&auml;senlehdest&auml;</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
2
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2006_1-2_2.pdf" target="_blank">Meid&auml;n kesken (yhteyshenkil&ouml;t,
tapaamispaikkoja, info lokakuu 2006)</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
3
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2006_1-2_3.pdf" target="_blank">Maijun palsta</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
3
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2006_1-2_3.pdf" target="_blank">Uutta nuorille - uutta meille kaikille!
Treffipalvelu Tampereella</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
4
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2006_1-2_4.pdf" target="_blank">Vuoden valoisin ja v&auml;lkkyvin syystapahtuma </a>

</td>
</tr>
<tr valign="top">
<td width="15%">
5
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2006_1-2_5.pdf" target="_blank">S&auml;&auml;nt&ouml;m&auml;&auml;r&auml;inen syyskokous </a> 
</td>
</tr>
<tr valign="top">
<td width="15%">
6-14
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2006_1-2_6-14.pdf" target="_blank">Toimintakertomus vuodelta 2005</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
14
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2006_1-2_14.pdf" target="_blank">Ilmoitus. Esplanadin Hattu Oy</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
15
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2006_1-2_15.pdf" target="_blank">Ilmoitus. Piccola Donna</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
16
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2006_1-2_16.pdf" target="_blank">El&auml;m&auml;nohjeita Nooan arkin tyyliin</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
16
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2006_1-2_16.pdf" target="_blank">Saksittua</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
16
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2006_1-2_16.pdf" target="_blank">Mediatiedot</a>
</td>
</tr>
</tbody>
</table>