<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 1 / 2005</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/2005_1.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/1_2005_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/2005_1.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%"></td>
    </tr>
    <tr valign="top">
      <td width="15%">2</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_2.pdf" target="_blank">Info toukokuu 2005</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">3</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_3.pdf" target="_blank">Maijun palsta</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">3</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_3.pdf" target="_blank">S&auml;&auml;nt&ouml;m&auml;&auml;r&auml;inen kev&auml;tkokous</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">4-5</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_4-5.pdf" target="_blank">Esteett&ouml;myytt&auml; my&ouml;s erikoismittaisille
        ihmisille!</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">5</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_5.pdf" target="_blank">Saksittua</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">6-7</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_6-7.pdf" target="_blank">Terveisi&auml; Tanskan De Hojes Klubin
        50-vuotisjuhlista. Joanna, Miia, Katja &amp; Teemu ja Henri</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">7</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_7.pdf" target="_blank">Kansainv&auml;lisi&auml; tapahtumia</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">8</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_8.pdf" target="_blank">Terveys. Kenk&auml;resepti</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">8</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_8.pdf" target="_blank">Py&ouml;r&auml;tuoli lapsille</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">9</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_9.pdf" target="_blank">Vinkki lukijalta</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">10</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_10.pdf" target="_blank">Syyskokous Tampereella (10-vuotisjuhla)</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">11</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_11.pdf" target="_blank">Ihan omat sopivat p&ouml;ksyt! LL-E</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">12</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_12.pdf" target="_blank">Sukkaniksi isojalkaiselle naiselle</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">12</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_12.pdf" target="_blank">Valmistaudu bikinikauteen</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">12</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_12.pdf" target="_blank">Muuta mukavaa</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">13</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_13.pdf" target="_blank">Kirpputori</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">13</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_13.pdf" target="_blank">Nettisivuilta poimittua</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">14</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_14.pdf" target="_blank">Nuoret</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">15</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_15.pdf" target="_blank">Meid&auml;n kesken</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">15</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_15.pdf" target="_blank">Yhteyshenkil&ouml;t</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">15</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_15.pdf" target="_blank">Asiakaspalvelukortti</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">16</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_16.pdf" target="_blank">Ilmoitus: Vaateliike PikkuNaisia</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">16</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_1_16.pdf" target="_blank">Tekniset tiedot</a></td>
    </tr>
  </tbody>
</table>