<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 3 / 2009</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/2009_3.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/3_2009_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/2009_3.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
<tr valign="top">
<td width="15%"></td>
<td width="85%"></td>
</tr>
<tr valign="top">
<td width="15%">2</td>
<td width="85%">Oikaisuja edelliseen jäsenlehteen<br/>
Mediatiedot</td>
</tr>
<tr valign="top">
<td width="15%">3</td>
<td width="85%">Maijun palsta</td>
</tr>
<tr valign="top">
<td width="15%">4</td>
<td width="85%">Toimihenkilöt vuodelle 2010</td>
</tr>
<tr valign="top">
<td width="15%">5</td>
<td width="85%">Tampereen Joulutori</td>
</tr>
<tr valign="top">
<td width="15%">6-7</td>
<td width="85%">EuropaTreffen 2010 kutsuu</td>
</tr>
<tr valign="top">
<td width="15%">8-11</td>
<td width="85%">Vaikuta verkossa -kysely - näin vastasitte</td>
</tr>
<tr valign="top">
<td width="15%">12</td>
<td width="85%">Ihme ja kumma -kokoinen vastaa<br/>
Keskustelua rakentamisen normeista<br/>
Apua WC-hätään Suomesta</td>
</tr>
<tr valign="top">
<td width="15%">13</td>
<td width="85%">Kuninkaallinen WC-kalustus brittityyliin</td>
</tr>
<tr valign="top">
<td width="15%">14-15</td>
<td width="85%">PIKRY Testaa - salilaitteet syynissä</td>
</tr>
<tr valign="top">
<td width="15%">16</td>
<td width="85%">Elämäni bumerangina - miksi lähdin Tall Clubista ja miksi tulen takaisin</td>
</tr>
<tr valign="top">
<td width="15%">17</td>
<td width="85%">Nimittelystä närkästystä<br/>
Huippu-urheilija nimittelyn hampaissa</td>
</tr>
<tr valign="top">
<td width="15%">18-21</td>
<td width="85%">Valtioneuvoston asetus neuvolatoiminnasta, koulu- ja opiskeluterveydenhuollosta 
sekä lasten ja nuorten ehkäisevästä suun terveydenhuollosta</td>
</tr>
<tr valign="top">
<td width="15%">22-23</td>
<td width="85%">Toimintasuunnitelma ja toiminnan painoalueet 2010</td>
</tr>
</tbody>
</table>

</div>