<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 1-2 / 2011</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">

<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/2011_1-2.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/1-2_2011_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/2011_1-2.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
<tr valign="top">
<td width="15%"></td>
<td width="85%"></td>
</tr>
<tr valign="top">
<td width="15%">2</td>
<td width="85%">Mediatiedot</td>
</tr>
<tr valign="top">
<td width="15%">3</td>
<td width="85%">Maijun palsta</td>
</tr>
<tr valign="top">
<td width="15%">4</td>
<td width="85%">Hoitoa tyttöjen pitkäkasvuisuuden hidastamiseksi<br/>
Kallen kulma - R.I.P Peter Steele</td>
</tr>
<tr valign="top">
<td width="15%">5</td>
<td width="85%">ANEC, European Year of Volunteering 2011 - Press Release</td>
</tr>
<tr valign="top">
<td width="15%">6</td>
<td width="85%">Leikkeleitä - Olkaa Hyvä</td>
</tr>
<tr valign="top">
<td width="15%">7</td>
<td width="85%">Asiamme esillä 2011<br/>
Varusmies 2011<br/>
Tampereella neljämetrinen mies?<br/>
Ihmeteltävää</td>
</tr>
<tr valign="top">
<td width="15%">8</td>
<td width="85%">ERIKO -tietopankki, semanttinen web</td>
</tr>
<tr valign="top">
<td width="15%">9-10</td>
<td width="85%">PIKRY ottaa kantaa - erikoiskokoisten esteettömyyden esteitä poistamassa</td>
</tr>
<tr valign="top">
<td width="15%">10</td>
<td width="85%">Pariisissa 29.5. - 5.6.2011 yli 400 Tosi Pitkää koolla</td>
</tr>
<tr valign="top">
<td width="15%">11</td>
<td width="85%">PIKRY Testaa: Pitkät ihmiset ja bussit - sopimaton yhdistelmä?</td>
</tr>
<tr valign="top">
<td width="15%">12-13</td>
<td width="85%">Toimintasuunnitelma 2012</td>
</tr>
<tr valign="top">
<td width="15%">14</td>
<td width="85%">Muistatteko Reino Rutasen tai tarinoita häneen liittyen? - Ota yhteyttä toimitukseen!<br/>
Ilmoitus: Marjoxs
</td>
</tr>
<tr valign="top">
<td width="15%">15-16</td>
<td width="85%">Jalkaterapia ja jalkaterapeutin ammatti tutuksi</td>
</tr>
<tr valign="top">
<td width="15%">17-21</td>
<td width="85%">Alaraajojen mittojen luotettava mittaaminen - Reliable Measuring of Lower Limbs</td>
</tr>
<tr valign="top">
<td width="15%">22-23</td>
<td width="85%">KevätTreffit 2011</td>
</tr>
</tbody>
</table>