<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 3-4 / 2011</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">

<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/verkkolehti_3-4_2011.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/pikkukansi_3-4_2011.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/verkkolehti_3-4_2011.pdf" target="_blank"><big>Lue lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
<tr valign="top">
<td width="15%"></td>
<td width="85%"></td>
</tr>
<tr valign="top">
<td width="15%">2</td>
<td width="85%">Mediatiedot</td>
</tr>
<tr valign="top">
<td width="15%">3</td>
<td width="85%">Maijun palsta</td>
</tr>
<tr valign="top">
<td width="15%">4-5</td>
<td width="85%">Apuv&auml;lineet ja kodin muutosty&ouml;t helpottavat arjen sujumista</td>
</tr>
<tr valign="top">
<td width="15%">6-7</td>
<td width="85%">Saksittua</td>
</tr>
<tr valign="top">
<td width="15%">8-9</td>
<td width="85%">PIKRY Testaa 1/2011 tulokset </td>
</tr>
<tr valign="top">
<td width="15%">10</td>
<td width="85%">S&auml;&auml;dett&auml;vyys luo esteett&ouml;myytt&auml;</td>
</tr>
<tr valign="top">
<td width="15%">11</td>
<td width="85%">Vapaaehtoisena vaikutat</td>
</tr>
<tr valign="top">
<td width="15%">12</td>
<td width="85%">Aktiivinen ik&auml;&auml;ntyminen ja sukupolvien v&auml;linen solidaarisuus<br/>
Eriparijalat</td>
</tr>
<tr valign="top">
<td width="15%">13-14</td>
<td width="85%">Osa 1: Lasten jalkaterveys - vanhempien syd&auml;men asia</td>
</tr>
<tr valign="top">
<td width="15%">16-18</td>
<td width="85%">Lasten ja nuorten fyysisen toimintakyvyn seuraaminen tehostuu</td>
</tr>
<tr valign="top">
<td width="15%">19-27</td>
<td width="85%">Ranskalaisia pastilleja, eli Eurooppatreffeill&auml; pariisissa</td>
</tr>
<tr valign="top">
<td width="15%">29</td>
<td width="85%">Yhdistyksemme pitk&auml;t miehet HALLOWEEN HIRVI&Ouml;IN&Auml;<br/>
Ihmisoikeuskeskus perusteilla</td>
</tr>
<tr valign="top">
<td width="15%">30-34</td>
<td width="85%">Toimintakertomus vuodelta 2010</td>
</tr>
<tr valign="top">
<td width="15%">35</td>
<td width="85%">Kutsu s&auml;&auml;nt&ouml;m&auml;&auml;r&auml;iseen syyskokoukseen</td>
</tr>
</tbody>
</table>