<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 1-2 / 2007</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/2007_1-2.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/1-2_2007_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/2007_1-2.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
<tr valign="top">
<td width="15%"></td>
<td width="85%"></td>
</tr>
<tr valign="top">
<td width="15%">
1
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_1.pdf" target="_blank">Kuvakertomus Freiburgin
EuropaTreffen -tapaamisesta netiss&auml;</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
2
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_2.pdf" target="_blank">Kirjallinen kysymys hallitukselle
&auml;&auml;ripituistenoikeuksista palveluihin</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
3
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_3.pdf" target="_blank">Maijun palsta. Huomiota koululaisten
ty&ouml;ergonomiaan</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
4
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_4.pdf" target="_blank">&Auml;&auml;rikokoiset kondomit</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
5
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_5.pdf" target="_blank">Mik&auml; sopii juuri sinulle?</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
5
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_5.pdf" target="_blank">Tietoa v&auml;est&ouml;n pituudesta / koosta</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
6
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_6.pdf" target="_blank">Asumisesta, esteett&ouml;myydest&auml;, &auml;&auml;ripituisista</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
6-9
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_6-9.pdf" target="_blank">Toimenpide-ehdotuksemme Valtion
asuntorahastolle &auml;&auml;ripituistenasumisolojen helpottamiseksi 4.7.2007</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
9
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_9.pdf" target="_blank">Kintuille tilaa</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
10-13
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_10-13.pdf" target="_blank">Toimintakertomus vuodelta 2006</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
13
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_13.pdf" target="_blank">Toimeentulolakiin muutoksia</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
14
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_14.pdf" target="_blank">V&auml;est&ouml;n pituustutkimuksia</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
14
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_14.pdf" target="_blank">Saksittua</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
15
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_15.pdf" target="_blank">Keilat kaatuivat tyylill&auml;. Miia Hasanen</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
15
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_15.pdf" target="_blank">Info kev&auml;t -kes&auml; 2007</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
16
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_16.pdf" target="_blank">Saksittua</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
16
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_16.pdf" target="_blank">Mediatiedot</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
16
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2007_1-2_16.pdf" target="_blank">Katso ja kommentoi. EuropaTreffen -tapahtuman
kuvia</a>
</td>
</tr>
</tbody>
</table>