<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 2 / 1999</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/1999_2.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/2_1999_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/1999_2.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
<tr valign="top">
<td width="15%"></td>
<td width="85%"></td>
</tr>
<tr valign="top">
<td width="15%">
2
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1999_2_2.pdf" target="_blank">Yhdistyksen luottamushenkil&ouml;t; lehden
toimitustiedot</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
3
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1999_2_3.pdf" target="_blank">P&auml;&auml;kirjoitus, Maiju Havinen</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
4-6
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1999_2_4-6.pdf" target="_blank">Liike-el&auml;m&auml;n n&auml;k&ouml;kulmasta:</a>
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Vaateasioista lehdist&ouml;ss&auml;
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Pienikokoisen naisen vaatetuksesta
</td>
</tr>
<tr valign="top">
<td width="15%">
7-8
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1999_2_7-8.pdf" target="_blank">Terveys:</a>
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Pitk&auml;t, normaalin variantit
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Kohtuuttoman pituuden ehk&auml;isy
</td>
</tr>
<tr valign="top">
<td width="15%">
9-11
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1999_2_9-11.pdf" target="_blank">Kuluttajatietoa:</a>
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Ostospaikkoja kotimaassa ja ulkomailla
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Suutareita
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Kirpputori
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Kysymys- ja vastauspalsta
</td>
</tr>
<tr valign="top">
<td width="15%">
12-13
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1999_2_12-13.pdf" target="_blank">Autoasiaa:</a>
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Sopivat polkimet isokenk&auml;iselle
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Pienen naisautoilijan n&auml;k&ouml;kulma
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Uusi automalli Toyota Yaris
</td>
</tr>
<tr valign="top">
<td width="15%">
14
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1999_2_14.pdf" target="_blank">Meid&auml;n kesken:</a>
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Yhteyshenkil&ouml;t
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Terveisi&auml; Turusta
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Tervetuloa, uudet j&auml;senet
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Tanskan klubi netiss&auml;
</td>
</tr>
<tr valign="top">
<td width="15%">
15-16
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1999_2_15-16.pdf" target="_blank">Palautetta lukijoilta</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
17
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1999_2_17.pdf" target="_blank">H&auml;meenlinnan kev&auml;tkokouksen p&ouml;yt&auml;kirja</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
18
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1999_2_18.pdf" target="_blank">Kev&auml;tkokoustunnelmia, Liisa Lavi-Eskelinen</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
19-20
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1999_2_19-20.pdf" target="_blank">Infosivut</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
21
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1999_2_21.pdf" target="_blank">Kutsu syyskokoukseen </a> 
</td>
</tr>
<tr valign="top">
<td width="15%">
22
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1999_2_22.pdf" target="_blank">Lehdist&auml; poimittua</a>
</td>
</tr>
</tbody>
</table>