<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 2 / 2000</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/2000_2.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/2_2000_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/2000_2.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%"></td>
    </tr>
    <tr valign="top">
      <td width="15%">2</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_2.pdf" target="_blank">Tekniset tiedot</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">3</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_3.pdf" target="_blank">P&auml;&auml;kirjoitus: Maiju Havinen</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">4-5</td>
      <td width="85%">Terveysasiaa, otteita eri julkaisuista:</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- "L&auml;&auml;k&auml;rit puijasivat minua", pitk&auml;nruotsalaistyt&ouml;n
        kertomus</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Sokeritaudin pehmeist&auml; hoitokeinoista, prof. Arstila
        (Nykyposti)</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Suomalainen lapsi terve kuin pukki? (ME-lehti)</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Kasvua ei pid&auml;k&auml;&auml;n piiskata (Hyv&auml;Terveys)</td>
    </tr>
    <tr valign="top">
      <td width="15%">6</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_6.pdf" target="_blank">Liike-el&auml;m&auml;n n&auml;k&ouml;kulmasta</a></td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Viidennes kuluttajista ei l&ouml;yd&auml; sopivan kokoisia
        vaatteita</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- &Auml;&auml;rikoot l&ouml;ytyv&auml;t erikoisliikkeist&auml;</td>
    </tr>
    <tr valign="top">
      <td width="15%">7</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_7.pdf" target="_blank">Ilmoitus: Speciaali Koot</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">8-10</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_8-10.pdf" target="_blank">Kuluttajatietoa:</a></td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Isot ja pienet kenk&auml;koot</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Ranskalaiset ja englantilaiset lestinleveystaulukot</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- N-mitat 2000-projekti</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Lahtelainen jalkatukiprojekti</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Autoveroasiaa</td>
    </tr>
    <tr valign="top">
      <td width="15%">11</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_11.pdf" target="_blank">Ilmoitus: Kristiina</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">12</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_12.pdf" target="_blank">Ostospaikkoja</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">12</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_12.pdf" target="_blank">Kirpputori</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">13</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_13.pdf" target="_blank">Ilmoitus: Regina Skor</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">14</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_14.pdf" target="_blank">Kysymys ja vastauspalsta</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">15</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_15.pdf" target="_blank">Ilmoitus: S-Design</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">16</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_16.pdf" target="_blank">Meid&auml;n kesken</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">17-19</td>
      <td width="85%">Lukijat kirjoittavat</td>
    </tr>
    <tr valign="top">
      <td width="15%">20</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_20.pdf" target="_blank">Kansainv&auml;linen yhteisty&ouml; etenee:</a></td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Eurooppakokous 2000</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Uutisia Britanniasta</td>
    </tr>
    <tr valign="top">
      <td width="15%">21</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_21.pdf" target="_blank">Kutsu kev&auml;tkokoukseen</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">22-25</td>
      <td width="85%">Toimintakertomus 1999</td>
    </tr>
    <tr valign="top">
      <td width="15%">26-27</td>
      <td width="85%">Tuloslaskelma ja tase 1999</td>
    </tr>
    <tr valign="top">
      <td width="15%">28-29</td>
      <td width="85%">Info</td>
    </tr>
    <tr valign="top">
      <td width="15%">30</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_30.pdf" target="_blank">Saksittua</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">31</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2000_2_31.pdf" target="_blank">Yhdistyksen luottamushenkil&ouml;t</a></td>
    </tr>
  </tbody>
</table>