<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 4 / 2005</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/2005_4.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/4_2005_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/2005_4.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%"></td>
    </tr>
    <tr valign="top">
      <td width="15%">2</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_2.pdf" target="_blank">Info toukokuu 2005</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">3</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_3.pdf" target="_blank">Maijun palsta</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">3</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_3.pdf" target="_blank">Lakiasiaa</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">4</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_4.pdf" target="_blank">PreXmas -kuvastoa</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">5-7</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_5-7.pdf" target="_blank">Historiikkia 1995-2005</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">8</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_8.pdf" target="_blank">Laulua kaikille</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">8</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_8.pdf" target="_blank">Terveys</a></td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Elinsiirtotestamentti</td>
    </tr>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%">- Vasaravarpaat</td>
    </tr>
    <tr valign="top">
      <td width="15%">8</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_8.pdf" target="_blank">Lehtiasiaa</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">8</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_8.pdf" target="_blank">Kuluttaja</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">9</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_9.pdf" target="_blank">Ilmoitus. Moesalong Eliit, Tallinn</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">10-13</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_10-13.pdf" target="_blank">Eurooppatreffit Skotlannissa </a> </td>
    </tr>
    <tr valign="top">
      <td width="15%">14</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_14.pdf" target="_blank">Nuoret ja kaikki muutkin</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">15</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_15.pdf" target="_blank">Meid&auml;n kesken</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">15</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_15.pdf" target="_blank">Yhteyshenkil&ouml;t</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">15</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_15.pdf" target="_blank">Asiakasapalvelukortti</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">16</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2005_4_16.pdf" target="_blank">Tekniset tiedot</a></td>
    </tr>
  </tbody>
</table>