<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 1-2 / 2012</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">

<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/verkkolehti_1-2_2012.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/pikkukansi_1-2_2012.png" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/verkkolehti_1-2_2012.pdf" target="_blank"><big>Lue lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
<tr valign="top">
<td width="15%"></td>
<td width="85%"></td>
</tr>
<tr valign="top">
<td width="15%">2</td>
<td width="85%">Mediatiedot</td>
</tr>
<tr valign="top">
<td width="15%">3</td>
<td width="85%">Maijun palsta</td>
</tr>
<tr valign="top">
<td width="15%">4-13</td>
<td width="85%">Eurooppatreffit 2012 Finland (ohjelma ym.)</td>
</tr>
<tr valign="top">
<td width="15%">14</td>
<td width="85%">Yhdistyksen uusi tila Tullintorilla</td>
</tr>
<tr valign="top">
<td width="15%">16-17</td>
<td width="85%">Eurooppatreffien rekisteröintilomake</td>
</tr>
<tr valign="top">
<td width="15%">18</td>
<td width="85%">Saksittua - 252-senttinen mies lopetti vihdoin kasvamisen</td>
</tr>
<tr valign="top">
<td width="15%">19</td>
<td width="85%">Kevätkokouskutsu</td>
</tr>
</tbody>
</table>