<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 2 / 1996</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/1996_2.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/2_1996_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/1996_2.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
<tr valign="top">
<td width="15%"></td>
<td width="85%"></td>
</tr>
<tr valign="top">
<td width="15%">1</td>
<td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1996_2_1.pdf" target="_blank">P&auml;&auml;kirjoitus, Maiju Havinen</a></td>
</tr>
<tr valign="top">
<td width="15%">2-3</td>
<td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1996_2_2-3.pdf" target="_blank">Isojen- ja pitkien miesten vaate- ja
kenk&auml;liike, Mr. Big</a></td>
</tr>
<tr valign="top">
<td width="15%">4</td>
<td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1996_2_4.pdf" target="_blank">Pieni- ja Isokenk&auml;iset ry:n ensimm&auml;inen
kes&auml;tapahtuma 27.7.1996 Tampereen Kukkaisviikoilla</a></td>
</tr>
<tr valign="top">
<td width="15%">5</td>
<td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1996_2_5.pdf" target="_blank">EU-direktiivi kelluntapukineille</a></td>
</tr>
<tr valign="top">
<td width="15%">6</td>
<td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1996_2_6.pdf" target="_blank">Ilmoittautuminen kontaktipalstalle</a></td>
</tr>
<tr valign="top">
<td width="15%">7</td>
<td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1996_2_7.pdf" target="_blank">Luettelo suomalaisista &auml;&auml;rikokoja
valmistavista kenk&auml;tehtaista</a></td>
</tr>
<tr valign="top">
<td width="15%">7</td>
<td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1996_2_7.pdf" target="_blank">J&auml;senuutinen. Yhdistyksen puheenjohtaja
ketjukolarissa.</a></td>
</tr>
<tr valign="top">
<td width="15%">8-10</td>
<td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1996_2_8-10.pdf" target="_blank">Hankintal&auml;hteit&auml;,
postimyyntiliikkeit&auml;,sekalaista</a></td>
</tr>
<tr valign="top">
<td width="15%">11</td>
<td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1996_2_11.pdf" target="_blank">Pitkien ihmisten tapahtumia maailmalla</a></td>
</tr>
<tr valign="top">
<td width="15%">12</td>
<td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1996_2_12.pdf" target="_blank">Kuluttaja-lehden irtonumero ilmaiseksi</a></td>
</tr>
<tr valign="top">
<td width="15%">12</td>
<td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1996_2_12.pdf" target="_blank">Kaupassa kuultua</a></td>
</tr>
<tr valign="top">
<td width="15%">13</td>
<td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1996_2_13.pdf" target="_blank">Mode XL-kauppiaita</a></td>
</tr>
<tr valign="top">
<td width="15%">14</td>
<td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1996_2_14.pdf" target="_blank">Kokouskutsu yhdistyksen vuosikokoukseen</a></td>
</tr>
<tr valign="top">
<td width="15%">15</td>
<td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1996_2_15.pdf" target="_blank">Yhdistyksen kontaktihenkil&ouml;t eri alueilla</a></td>
</tr>
<tr valign="top">
<td width="15%">16</td>
<td width="85%"><a href="/site_media/pdf/koputuksia/sivut/1996_2_16.pdf" target="_blank">Ilmoitus: Kristiina-kenk&auml;kauppa</a></td>
</tr>
</tbody>
</table>