<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 3 / 2007</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/2007_3.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/3_2007_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/2007_3.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
<tr valign="top">
<td width="15%"></td>
<td width="85%"></td>
</tr>
<tr valign="top">
<td width="15%">
1</td>
<td width="85%">
Tall &amp; Small ja Tammerfest. Kuvia</td>
</tr>
<tr valign="top">
<td width="15%">
2-3</td>
<td width="85%">&Auml;&auml;ripituisten oikeuksista. Peruspalveluministeri Liisa Hyss&auml;l&auml;n vastaus</td>
</tr>
<tr valign="top">
<td width="15%">
3</td>
<td width="85%">
Info - syksy 2007</td>
</tr>
<tr valign="top">
<td width="15%">
4-5</td>
<td width="85%">
Viimeinen palvelus - vainajan pituus 190 - 225 cm</td>
</tr>
<tr valign="top">
<td width="15%">
6-7</td>
<td width="85%">
Syystapahtuman kutsu ja ohjelma</td>
</tr>
<tr valign="top">
<td width="15%">
7</td>
<td width="85%">
Syyskokouksen esityslista</td>
</tr>
<tr valign="top">
<td width="15%">
8-9</td>
<td width="85%">
Erikokoisten tapaamisia - syksy 2007</td>
</tr>
<tr valign="top">
  <td>9-10</td>
  <td>Tammerfestin tunnelmia. Kuvia kaupunkifestareilta</td>
</tr>
<tr valign="top">
  <td>11</td>
  <td>J&auml;senasiaa</td>
</tr>
<tr valign="top">
  <td>12</td>
  <td>All together in Amsterdam 08. Pitkien ihmisten j&auml;ttitapahtuma</td>
</tr>
<tr valign="top">
  <td>12</td>
  <td>Mediatiedot</td>
</tr>
</tbody>
</table>