<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 4 / 2004</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/2004_4.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/4_2004_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/2004_4.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
<tr valign="top">
<td width="15%"></td>
<td width="85%"></td>
</tr>
<tr valign="top">
<td width="15%">
2
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_2.pdf" target="_blank">Info joulukuu 2004</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
3
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_3.pdf" target="_blank">Maijun palsta</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
3
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_3.pdf" target="_blank">Jouluevankeliumi hangoksi</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
4-6
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_4-6.pdf" target="_blank">Toimintasuunnitelma vuodelle 2005</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
7
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_7.pdf" target="_blank">Swibilt&auml; sopivan kokoisia huonekaluja</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
8
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_8.pdf" target="_blank">Filmit&auml;hti on syttynyt</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
8
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_8.pdf" target="_blank">Nuppi kuhmulla?!</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
8
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_8.pdf" target="_blank">Kuluttaja</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
8
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_8.pdf" target="_blank">Kirpputori</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
8
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_8.pdf" target="_blank">Kaavakurssi helsinkil&auml;isille jatkuu</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
9
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_9.pdf" target="_blank">Pituusleikkauksista. Maiju Havinen</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
9
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_9.pdf" target="_blank">Saksittua</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
10
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_10.pdf" target="_blank">Pitkien Eurooppa Treffit Edinburghissa </a>

</td>
</tr>
<tr valign="top">
<td width="15%">
10
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_10.pdf" target="_blank">Tanskan pitkien klubin 50-vuotisp&auml;iv&auml;</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
10
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_10.pdf" target="_blank">Kansainv&auml;lisi&auml; tapahtumia</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
11
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_11.pdf" target="_blank">Syyskokous Tampereella</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
12-13
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_12-13.pdf" target="_blank">Terveys</a>
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Kenk&auml;koko
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Osaatko sin&auml; ostaa oikean kokoiset keng&auml;t?
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Rintasy&ouml;v&auml;n riski yhteydess&auml; lapsuuden kasvuun
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Kondomit
</td>
</tr>
<tr valign="top">
<td width="15%">
14
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_14.pdf" target="_blank">Nuoret</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
15
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_15.pdf" target="_blank">Meid&auml;n kesken</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
15
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_15.pdf" target="_blank">Yhteyshenkil&ouml;t</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
15
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_15.pdf" target="_blank">Asiakaspalvelukortti</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
16
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/2004_4_16.pdf" target="_blank">Pilakuva</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
16
</td>
<td width="85%">
Tekniset tiedot
</td>
</tr>
</tbody>
</table>