<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 2 / 2009</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/2009_2.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/2_2009_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/2009_2.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
<tr valign="top">
<td width="15%"></td>
<td width="85%"></td>
</tr>
<tr valign="top">
<td width="15%">2</td>
<td width="85%">Oikaisut jäsenlehteen 1 / 2009<br/>
Mediatiedot</td>
</tr>
<tr valign="top">
<td width="15%">3</td>
<td width="85%">Maijun palsta</td>
</tr>
<tr valign="top">
<td width="15%">4</td>
<td width="85%">Äärikokoisten edustaja hoitamaan standardisointiasioita EU:ssa</td>
</tr>
<tr valign="top">
<td width="15%">5</td>
<td width="85%">Kutsu syyskokoukseen</td>
</tr>
<tr valign="top">
<td width="15%">6</td>
<td width="85%">Ilmoitus: Styrman</td>
</tr>
<tr valign="top">
<td width="15%">7-9</td>
<td width="85%">Syystreffeille ilmoittautuminen ja ohjelma</td>
</tr>
<tr valign="top">
<td width="15%">10-14</td>
<td width="85%">Toimintakertomus 2008</td>
</tr>
<tr valign="top">
<td width="15%">15</td>
<td width="85%">Asiamme esillä 2009</td>
</tr>
</tbody>
</table>