<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 4 / 1998</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/1998_4.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/4_1998_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/1998_4.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
<tr valign="top">
<td width="15%"></td>
<td width="85%"></td>
</tr>
<tr valign="top">
<td width="15%">
1
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_1.pdf" target="_blank">Yhteystiedot</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
2
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_2.pdf" target="_blank">P&auml;&auml;kirjoitus, Maiju Havinen</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
3-7
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_3-7.pdf" target="_blank">Ajankohtaista. Lahden kokous ja messut</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
8
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_8.pdf" target="_blank">J&auml;senasiaa</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
9
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_9.pdf" target="_blank">Itsetunnon kuntokoulu</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
10
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_10.pdf" target="_blank">Paikallisyhdistykset</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
11
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_11.pdf" target="_blank">Kysymyksi&auml; ja vastauksia</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
12-13
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_12-13.pdf" target="_blank">Ostopaikkoja ja kirpputori</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
14-15
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_14-15.pdf" target="_blank">Lukijalta</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
16-17
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_16-17.pdf" target="_blank">Ollin mietteit&auml; Lontoon
sightseeing-bussissa. Olli Sorakivi</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
18
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_18.pdf" target="_blank">Ilmoitus: Exsemina Oy</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
19
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_19.pdf" target="_blank">Ilmoitus: Nelly Kenk&auml;</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
20
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_20.pdf" target="_blank">Saksittua:</a>
</td>
</tr>
<tr valign="top">
<td width="15%"></td>
<td width="85%">
- Jo 11-vuotias voi kuulua isokenk&auml;isiin (Alueuutiset)
</td>
</tr>
<tr valign="top">
<td width="15%">
20
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_20.pdf" target="_blank">Mittaj&auml;rjestelm&auml;t</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
21
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_21.pdf" target="_blank">S&auml;hk&ouml;postiosoitteita (mm. ulkomaisia
ostopaikkoja)</a>
</td>
</tr>
<tr valign="top">
<td width="15%">
22
</td>
<td width="85%">
<a href="/site_media/pdf/koputuksia/sivut/1998_4_22.pdf" target="_blank">Ilmoitus: KappAhl</a>
</td>
</tr>
</tbody>
</table>