<style type="text/css">

.righttable

        {
        position: absolute;
        margin-left: 500px;
        }

</style>

<div class="back_to_index">
<a href="/fi/all/e0/frontpg/lehtiarkisto/"><span class="prev_arrow">
<img border="0" src="http://www.tallsmall.fi:8080/site_media/img/arrows/naviarr_or_prev.gif">
</span></a>
<a href="/fi/all/e0/frontpg/lehtiarkisto/">Edellinen sivu</a>
</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td colspan="2">
<h1 class="orange">Keng&auml;n koputuksia, lehden sis&auml;llysluettelo</h1>
<br/>
<h2 class="blue">Nro 2 / 2002</h2>
</td>
</tr>
</tbody>
</table>

<br/>
<div id="righttable" class="righttable">
    
<table>
<tbody>
<tr>
<td>
<a href="/site_media/pdf/koputuksia/2002_2.pdf" target="_blank">
<img src="http://www.tallsmall.fi:8080/site_media/pics/specs/pikkukannet/2_2002_pikkukansi.jpg" align="right"></a>
</td>
</tr>
<tr>
<td style="text-align: center; padding-top: 15px">
<a href="/site_media/pdf/koputuksia/2002_2.pdf" target="_blank"><big>Lue koko lehti</big></a>
</td>
</tr>
</tbody>
</table>

</div>

<table style="page-break-before: always;" border="0" cellpadding="0" cellspacing="0" width="450px">
<tbody>
    <tr valign="top">
      <td width="15%"></td>
      <td width="85%"></td>
    </tr>
    <tr valign="top">
      <td width="15%">2</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2002_2_2.pdf" target="_blank">Info</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">3</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2002_2_3.pdf" target="_blank">Maijun palsta</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">3</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2002_2_3.pdf" target="_blank">Lukijat kertovat, ett&auml;...</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">4-5</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2002_2_4-5.pdf" target="_blank">Kainuusta maailmanhistorian pisimpi&auml; miehi&auml;</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">6</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2002_2_6.pdf" target="_blank">Terveydeksi</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">7</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2002_2_7.pdf" target="_blank">Kev&auml;tkokouksen esityslista</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">8-9</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2002_2_8-9.pdf" target="_blank">Tilinp&auml;&auml;t&ouml;s 2001</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">10-11</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2002_2_10-11.pdf" target="_blank">Toimintakertomus</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">12-13</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2002_2_12-13.pdf" target="_blank">Internet-tietopankki</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">14</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2002_2_14.pdf" target="_blank">Pitk&auml; Pekka Kuopiosta</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">15</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2002_2_15.pdf" target="_blank">Meid&auml;n kesken</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">15</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2002_2_15.pdf" target="_blank">Asiakaspalvelukortti</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">16</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2002_2_16.pdf" target="_blank">Kirpputori</a></td>
    </tr>
    <tr valign="top">
      <td width="15%">16</td>
      <td width="85%"><a href="/site_media/pdf/koputuksia/sivut/2002_2_16.pdf" target="_blank">Tekniset tiedot</a></td>
    </tr>
  </tbody>
</table>