{% extends layout %}

{% block 5col_1_1 %}
  <div class="rbox">
    <div class="rbox_hea" style="background-color: #31659C">Osta</div>
    <div class="rbox_content">
      {% include "include/lipsum_1p.html" %}
    </div>
  </div>
{% endblock %}

{% block 5col_1_2 %}
  <div class="rbox">
    <div class="rbox_hea" style="background-color: #639ACE">Myy</div>
    <div class="rbox_content">
      {% include "include/lipsum_1p.html" %}
    </div>
  </div>
{% endblock %}

{% block 5col_1_3 %}
  <div class="rbox">
    <div class="rbox_hea" style="background-color: #5E9DC8">Kierr&auml;t&auml;</div>
    <div class="rbox_content">
      {% include "include/lipsum_1p.html" %}
    </div>
  </div>
{% endblock %}

{% block 5col_1_4 %}
  <div class="rbox">
    <div class="rbox_hea" style="background-color: #4A79A5">Kirpputori</div>
    <div class="rbox_content">
      {% include "include/lipsum_1p.html" %}
    </div>
  </div>
{% endblock %}

{% block ost_suo %}
  <div class="rbox">
    <div class="rbox_hea" style="background-color: #31659C">Ostospaikkoja Suomessa</div>
    <div class="rbox_content">
      {% include "include/lipsum_1p.html" %}
    </div>
  </div>
{% endblock %}

{% block ost_ulk %}
  <div class="rbox">
    <div class="rbox_hea" style="background-color: #639ACE">Ostospaikkoja ulkomailla</div>
    <div class="rbox_content">
      {% include "include/lipsum_1p.html" %}
    </div>
  </div>
{% endblock %}